<!-- START BLOCK : LOADA -->
<script>
    // เมื่อหน้าโหลดเสร็จ เลื่อนหน้าไปยังตำแหน่งที่มี id = "a"
    window.onload = function() {
        var element = document.getElementById("a");
        if (element) {
            element.scrollIntoView({
                behavior: "auto" // เปลี่ยนจาก "smooth" เป็น "auto" เพื่อเลื่อนอย่างรวดเร็ว
            });
        }
    };
</script>
<!-- END BLOCK : LOADA -->

<section class="keypageall">
    <div class="keypage_block">
        <h1 class="keypagetext">พันธมิตรร่วมเพาะพันธุ์ปัญญา</h1>
    </div>
</section>
<div data-current="Tab 3" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
    <div class="tabsmart w-tab-menu">
        <a data-w-tab="Tab 3" class="generation w-inline-block w-tab-link w--current">
            <div class="generationtext">ทั้งหมด</div>
        </a>
        <a data-w-tab="Tab 2" class="generation w-inline-block w-tab-link">
            <div class="generationtext">รุ่นปี 2567</div>
        </a>

        <a data-w-tab="Tab 1" class="generation w-inline-block w-tab-link">
            <div class="generationtext">รุ่นปี 2566</div>
        </a>



    </div>

    <div class="w-tab-content">

        <div data-w-tab="Tab 3" class="tabpane w-tab-pane w--tab-active">
            <div style="height: 50px;"></div>
            <div class="partnercontainer">
                <div class="w-layout-blockcontainer partnergridlist w-container">
                    <div class="grid-container-logo">

                        <!-- START BLOCK : LOGOBRANDS -->
                        <a href="{brandUrl}" class="flex-item-logo"><img src="{main_url}/images/logo_brand/{brandImg}"></a>
                        <!-- END BLOCK : LOGOBRANDS -->

                    </div>
                    <br><br>
                    <div class="buttons">
                        <a href="{curel}/ก" class="button-link active">ก</a>
                        <a href="{curel}/ข" class="button-link">ข</a>
                        <a href="{curel}/ค" class="button-link">ค</a>
                        <a href="{curel}/ง" class="button-link">ง</a>
                        <a href="{curel}/จ" class="button-link">จ</a>
                        <a href="{curel}/ฉ" class="button-link">ฉ</a>
                        <a href="{curel}/ช" class="button-link">ช</a>
                        <a href="{curel}/ซ" class="button-link">ซ</a>
                        <a href="{curel}/ฌ" class="button-link">ฌ</a>
                        <a href="{curel}/ญ" class="button-link">ญ</a>
                        <a href="{curel}/ฐ" class="button-link">ฐ</a>
                        <a href="{curel}/ฑ" class="button-link">ฑ</a>
                        <a href="{curel}/ฒ" class="button-link">ฒ</a>
                        <a href="{curel}/ณ" class="button-link">ณ</a>
                        <a href="{curel}/ด" class="button-link">ด</a>
                        <a href="{curel}/ต" class="button-link">ต</a>
                        <a href="{curel}/ถ" class="button-link">ถ</a>
                        <a href="{curel}/ท" class="button-link">ท</a>
                        <a href="{curel}/ธ" class="button-link">ธ</a>
                        <a href="{curel}/น" class="button-link">น</a>
                        <a href="{curel}/บ" class="button-link">บ</a>
                        <a href="{curel}/ป" class="button-link">ป</a>
                        <a href="{curel}/ผ" class="button-link">ผ</a>
                        <a href="{curel}/ฝ" class="button-link">ฝ</a>
                        <a href="{curel}/พ" class="button-link">พ</a>
                        <a href="{curel}/ฟ" class="button-link">ฟ</a>
                        <a href="{curel}/ภ" class="button-link">ภ</a>
                        <a href="{curel}/ม" class="button-link">ม</a>
                        <a href="{curel}/ย" class="button-link">ย</a>
                        <a href="{curel}/ร" class="button-link">ร</a>
                        <a href="{curel}/ล" class="button-link">ล</a>
                        <a href="{curel}/ว" class="button-link">ว</a>
                        <a href="{curel}/ศ" class="button-link">ศ</a>
                        <a href="{curel}/ษ" class="button-link">ษ</a>
                        <a href="{curel}/ส" class="button-link">ส</a>
                        <a href="{curel}/ห" class="button-link">ห</a>
                        <a href="{curel}/ฬ" class="button-link">ฬ</a>
                        <a href="{curel}/อ" class="button-link">อ</a>
                        <a href="{curel}/ฮ" class="button-link">ฮ</a>
                        <a href="{curel}" class="button-link">ทั้งหมด</a>
                    </div>

                    <br><br>
                    <h2 class="school-headertext pro" id="a">พันธมิตรร่วมเพาะพันธุ์ปัญญา : <span class="partnersTextinLine">วิทยากร</span> </h2>
                    <br><br>
                    <div class="grid-container">
                        <!-- START BLOCK : LECTURER -->
                        <div class="grid-item">
                            <a href="#" class="partnerlightbox w-inline-block w-lightbox">
                                <img src="{photoALN}" loading="lazy" alt="{FullName}">
                                <script type="application/json" class="w-json">
                                    {
                                        "items": [{
                                            "origFileName": "{FileName}",
                                            "fileName": "{FileName}",
                                            "fileSize": 222311,
                                            "url": "{profilePOP}",
                                            "caption": "{FullName}",
                                            "type": "image"
                                        }],
                                        "group": "LECTURER"
                                    }
                                </script>
                            </a>
                        </div>
                        <!-- END BLOCK : LECTURER -->
                    </div>
                    <!-- START BLOCK : LECTURER_NOT_FOUND -->
                    <img src="{main_url}/images/nodata.png">
                    <!-- END BLOCK : LECTURER_NOT_FOUND -->
                    <br><br>
                    <h2 class="school-headertext pro">พันธมิตรร่วมเพาะพันธุ์ปัญญา : <span class="partnersTextinLine">คณะกรรมการ</span></h2>
                    <br><br>
                    <div class="grid-container">
                        <!-- START BLOCK : COMMITTEE -->
                        <div class="grid-item">
                            <a href="#" class="partnerlightbox w-inline-block w-lightbox">
                                <img src="{photoALN}" loading="lazy" alt="{FullName}">
                                <script type="application/json" class="w-json">
                                    {
                                        "items": [{
                                            "origFileName": "{FileName}",
                                            "fileName": "{FileName}",
                                            "fileSize": "{FileSize}",
                                            "url": "{profilePOP}",
                                            "caption": "{FullName}",
                                            "type": "image"
                                        }],
                                        "group": "COMMITTEE"
                                    }
                                </script>
                            </a>
                        </div>
                        <!-- END BLOCK : COMMITTEE -->

                    </div>
                    <!-- START BLOCK : COMMITTEE_NOT_FOUND -->
                    <img src="{main_url}/images/nodata.png">
                    <!-- END BLOCK : COMMITTEE_NOT_FOUND -->
                    <br>
                </div>
            </div>
            <div style="height: 50px;"></div>
        </div>

        <div data-w-tab="Tab 2" class="tabpane w-tab-pane">

            <div class="partnercontainer">
                <div class="w-layout-blockcontainer partnergridlist w-container">

                    <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                    <h2 class="partnersubkey">แคมป์ “เพาะกล้า”</h2>
                    <div class="w-layout-hflex partnerblock">

                        <!-- START BLOCK : NEP67 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : NEP67 -->

                    </div>

                    <section class="linesection"></section>

                    <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                    <h2 class="partnersubkey">แคมป์ “กล้าเรียน”</h2>
                    <div class="w-layout-hflex flex-block-2">
                        <!-- START BLOCK : NBC67 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : NBC67 -->
                    </div>

                    <section class="linesection"></section>

                    <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                    <h2 class="partnersubkey">แคมป์ “กล้าลุย”</h2>

                    <div class="w-layout-hflex partnerblock">

                        <!-- START BLOCK : CCC67 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : CCC67 -->

                    </div>

                    <section class="linesection"></section>

                    <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                    <h2 class="partnersubkey">แคมป์ “กล้าก้าว”</h2>
                    <div class="w-layout-hflex flex-block-2">

                        <!-- START BLOCK : DSC67 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : DSC67 -->



                    </div>
                </div>
            </div>
            <section class="sectionpicker">
                <div class="w-layout-blockcontainer pagedetail_parner w-container">

                    <p class="partnersubhead">คณะกรรมการที่เข้าร่วมตัดสินในโครงการ</p>
                    <h2 class="partnersubkey">แคมป์ “กล้าเรียน”</h2>


                    <!-- START BLOCK : DLCP67 -->
                    {start_flex}
                    <div class="team-block-2">
                        <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                        <div class="team-block-info-2">
                            <h3 class="partnername">{FullName}</h3>
                            <p class="partnersubtext plus">{Subtext}</p>
                            {iconPack}
                        </div>
                    </div>
                    {end_flex}
                    <!-- END BLOCK : DLCP67 -->
                </div>

                <section class="linesection"></section>



                <p class="partnersubhead">คณะกรรมการที่เข้าร่วมตัดสินในโครงการ</p>
                <h2 class="partnersubkey">แคมป์ “กล้าลุย”</h2>
                <div class="w-layout-hflex partnerblock">

                    <!-- START BLOCK : DECP67 -->

                    <div class="team-block-2">
                        <div class="partner-card"><img src="{photo}" loading="lazy" alt="คุณณัฐพล ม่วงทำ" class="team-member-image-two-2"></div>
                        <div class="team-block-info-2">
                            <h3 class="partnername">{FullName}</h3>
                            <p class="partnersubtext plus">{Subtext}</p>
                            {iconPack}
                        </div>
                    </div>

                    <!-- END BLOCK : DECP67 -->
                </div>

                <section class="linesection"></section>

                <p class="partnersubhead">คณะกรรมการที่เข้าร่วมตัดสินในโครงการ</p>
                <h2 class="partnersubkey">แคมป์ “กล้าลุย”</h2>


                <div class="w-layout-hflex partnerblock">

                    <!-- START BLOCK : DECP267 -->

                    <div class="team-block-2">
                        <div class="partner-card"><img src="{photo}" loading="lazy" alt="คุณณัฐพล ม่วงทำ" class="team-member-image-two-2"></div>
                        <div class="team-block-info-2">
                            <h3 class="partnername">{FullName}</h3>
                            <p class="partnersubtext plus">{Subtext}</p>
                            {iconPack}
                        </div>
                    </div>

                    <!-- END BLOCK : DECP267 -->
                </div>

            </section>
        </div>

        <div data-w-tab="Tab 1" class="tabpane w-tab-pane">
            <div class="partnercontainer">
                <div class="w-layout-blockcontainer partnergridlist w-container">



                    <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                    <h2 class="partnersubkey">“แคมป์กล้าเรียน”</h2>
                    <div class="w-layout-hflex flex-block-2">
                        <!-- START BLOCK : NBC66 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : NBC66 -->
                    </div>

                    <section class="linesection"></section>


                    <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                    <h2 class="partnersubkey">“แคมป์กล้าลุย”</h2>
                    <div class="w-layout-hflex flex-block-2">
                        <!-- START BLOCK : GPC66 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : GPC66 -->
                    </div>

                    <section class="linesection"></section>

                    <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                    <h2 class="partnersubkey">“แคมป์กล้าก้าว”</h2>
                    <div class="w-layout-hflex flex-block-2">
                        <!-- START BLOCK : GOC66 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : GOC66 -->
                    </div>





                </div>
            </div>
            <section class="sectionpicker">
                <div class="w-layout-blockcontainer pagedetail_parner w-container">
                    <p class="partnersubhead">คณะกรรมการที่เข้าร่วมตัดสินในโครงการ</p>
                    <h2 class="partnersubkey">“แคมป์กล้าเรียน”</h2>


                    <div class="w-layout-hflex flex-block-2">
                        <!-- START BLOCK : LCC66 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : LCC66 -->
                    </div>

                    <div class="w-layout-hflex flex-block-2">
                        <!-- START BLOCK : LCC266 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : LCC266 -->
                    </div>






                    <p class="partnersubhead">คณะกรรมการที่เข้าร่วมตัดสินในโครงการ</p>
                    <h2 class="partnersubkey">“แคมป์กล้าก้าว”</h2>
                    <div class="w-layout-hflex partnerblock">

                        <!-- START BLOCK : GOGO66 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : GOGO66 -->
                    </div>


                </div>
        </div>
        </section>
    </div>

</div>



</div>
<style>
    .pro {
        font-size: 35px;
        font-weight: bold;
        line-height: 20px;
    }
    
    .inpartners_h2 {
        margin-top: 50px;
        color: #96b759;
        text-shadow: #000000;
    }
    
    .partnersTextinLine {
        display: inline;
        color: #00953b;
    }
    
    .inpartners_h2_subtext {
        margin-top: -25px;
        color: #837670;
        font-size: 28pt;
    }
    
    .white_bg {
        background-color: white;
    }
    
    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* จัดกึ่งกลางในแนวนอน */
        gap: 2px;
        /* ปรับ gap ให้เป็น 2px */
        margin-bottom: 50px;
        align-content: center;
        padding: 10px;
        /* เพิ่ม padding เพื่อให้มีพื้นที่ภายใน */
        border-radius: 20px;
        /* ทำให้กรอบนอกเป็นมุมมน */
        background-color: #ffffff;
        /* สีพื้นกรอบนอก */
    }
    
    .button-link {
        display: inline-block;
        padding: 6px 12px;
        background-color: #ededed;
        color: #666666;
        text-decoration: none;
        border-radius: 20px;
        font-size: 15px;
        text-align: center;
        border: 1px solid #ededed;
    }
    
    .button-link:hover {
        background-color: #cac9c9;
    }
    
    .button-link:active {
        background-color: #cac9c9;
        color: #000000;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* Default for desktop */
        gap: 30px;
        /* Gap for both desktop and iPad */
        padding: 20px;
    }
    
    .grid-item {
        text-align: center;
    }
    
    .grid-item img {
        width: 100%;
        height: auto;
    }
    
    .grid-item p {
        font-size: 20px;
        margin-top: 10px;
    }
    
    .grid-container-logo {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        /* แถวละ 9 สำหรับ Desktop */
        gap: 30px;
        /* ระยะห่างระหว่างไอเท็ม */
        padding: 20px;
    }
    
    .grid-item-logo {
        text-align: center;
    }
    
    .grid-item-logo img {
        width: 100%;
        height: auto;
    }
    
    .grid-item-logo p {
        font-size: 20px;
        margin-top: 10px;
    }
    /* Responsive for Mobile */
    
    @media (max-width: 768px) {
        .pro {
            font-size: 30px;
            font-weight: bold;
            line-height: 20px;
        }
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            /* 2 items per row on mobile */
            gap: 20px;
            /* Gap for Mobile */
        }
        .grid-item p {
            font-size: 16px;
            /* Smaller font size for mobile */
            display: block;
            /* Keep description visible on mobile */
        }
        .grid-container-logo {
            grid-template-columns: repeat(4, 1fr);
            /* แถวละ 4 สำหรับมือถือ */
            gap: 20px;
            /* ระยะห่างระหว่างไอเท็มบนมือถือ */
        }
        .grid-item-logo p {
            font-size: 16px;
            /* ขนาดฟอนต์ที่เล็กลงบนมือถือ */
            display: block;
            /* แสดงข้อความบนมือถือ */
        }
    }
    
    .flex-container {
        margin: 50px 0px 80px 0px;
        display: flex;
        justify-content: center;
        /* จัดกึ่งกลาง */
        align-items: center;
        /* จัดกึ่งกลางแนวตั้ง (ถ้าจำเป็น) */
        flex-wrap: wrap;
        /* ถ้าบล็อกเยอะเกินไปให้ย้ายลงบรรทัดใหม่ */
        gap: 10px;
        /* ระยะห่างระหว่างบล็อก */
    }
    
    .flex-item {
        width: 100px;
        flex: 0 0 auto;
        /* ทำให้บล็อกมีขนาดคงที่ */
        text-align: center;
        /* จัดกึ่งกลางเนื้อหาภายในบล็อก */
    }
</style>