<section class="keypageall">
    <div class="keypage_block">
        <h1 class="keypagetext">พันธมิตรร่วมเพาะพันธุ์ปัญญา</h1>
    </div>
</section>
<div data-current="Tab 3" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
    <div class="tabsmart w-tab-menu">

        <a data-w-tab="Tab 3" class="generation w-inline-block w-tab-link w--current">
            <div class="generationtext">รุ่นปี 2567</div>
        </a>

        <a data-w-tab="Tab 2" class="generation w-inline-block w-tab-link">
            <div class="generationtext">รุ่นปี 2566</div>
        </a>
        <a data-w-tab="Tab 1" class="generation w-inline-block w-tab-link">
            <div class="generationtext">ทั้งหมด</div>
        </a>



    </div>



    <div class="w-tab-content">



        <div data-w-tab="Tab 3" class="tabpane w-tab-pane w--tab-active">

            <div class="partnercontainer">
                <div class="w-layout-blockcontainer partnergridlist w-container">

                    <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                    <h2 class="partnersubkey">แคมป์ “เพาะกล้า”</h2>
                    <div class="w-layout-hflex partnerblock">

                        <!-- START BLOCK : NEP67 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : NEP67 -->

                    </div>

                    <section class="linesection"></section>

                    <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                    <h2 class="partnersubkey">แคมป์ “กล้าเรียน”</h2>
                    <div class="w-layout-hflex flex-block-2">
                        <!-- START BLOCK : NBC67 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : NBC67 -->
                    </div>

                    <section class="linesection"></section>

                    <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                    <h2 class="partnersubkey">แคมป์ “กล้าลุย”</h2>

                    <div class="w-layout-hflex partnerblock">

                        <!-- START BLOCK : CCC67 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : CCC67 -->

                    </div>

                    <section class="linesection"></section>

                    <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                    <h2 class="partnersubkey">แคมป์ “กล้าก้าว”</h2>
                    <div class="w-layout-hflex flex-block-2">

                        <!-- START BLOCK : DSC67 -->

                        <div class="team-block-2">
                            <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                            <div class="team-block-info-2">
                                <h3 class="partnername">{FullName}</h3>
                                <p class="partnersubtext plus">{Subtext}</p>
                                {iconPack}
                            </div>
                        </div>

                        <!-- END BLOCK : DSC67 -->



                    </div>
                </div>
            </div>


            <!--- ส่วนนี้แยกสีอ่อนสีเข้ม  -->

            <section class="sectionpicker">
                <div class="w-layout-blockcontainer pagedetail_parner w-container">

                    <p class="partnersubhead">คณะกรรมการที่เข้าร่วมตัดสินในโครงการ</p>
                    <h2 class="partnersubkey">แคมป์ “กล้าเรียน”</h2>


                    <!-- START BLOCK : DLCP67 -->
                    {start_flex}
                    <div class="team-block-2">
                        <div class="partner-card"><img src="{photo}" loading="lazy" alt="{FullName}" class="team-member-image-two-2"></div>
                        <div class="team-block-info-2">
                            <h3 class="partnername">{FullName}</h3>
                            <p class="partnersubtext plus">{Subtext}</p>
                            {iconPack}
                        </div>
                    </div>
                    {end_flex}
                    <!-- END BLOCK : DLCP67 -->
                </div>

                <section class="linesection"></section>



                <p class="partnersubhead">คณะกรรมการที่เข้าร่วมตัดสินในโครงการ</p>
                <h2 class="partnersubkey">แคมป์ “กล้าลุย”</h2>
                <div class="w-layout-hflex partnerblock">

                    <!-- START BLOCK : DECP67 -->

                    <div class="team-block-2">
                        <div class="partner-card"><img src="{photo}" loading="lazy" alt="คุณณัฐพล ม่วงทำ" class="team-member-image-two-2"></div>
                        <div class="team-block-info-2">
                            <h3 class="partnername">{FullName}</h3>
                            <p class="partnersubtext plus">{Subtext}</p>
                            {iconPack}
                        </div>
                    </div>

                    <!-- END BLOCK : DECP67 -->
                </div>

                <section class="linesection"></section>

                <p class="partnersubhead">คณะกรรมการที่เข้าร่วมตัดสินในโครงการ</p>
                <h2 class="partnersubkey">แคมป์ “กล้าลุย”</h2>


                <div class="w-layout-hflex partnerblock">

                    <!-- START BLOCK : DECP267 -->

                    <div class="team-block-2">
                        <div class="partner-card"><img src="{photo}" loading="lazy" alt="คุณณัฐพล ม่วงทำ" class="team-member-image-two-2"></div>
                        <div class="team-block-info-2">
                            <h3 class="partnername">{FullName}</h3>
                            <p class="partnersubtext plus">{Subtext}</p>
                            {iconPack}
                        </div>
                    </div>

                    <!-- END BLOCK : DECP267 -->
                </div>




        </div>
        </section>


    </div>


    <div data-w-tab="Tab 2" class="tabpane w-tab-pane">
        <div class="partnercontainer">
            <div class="w-layout-blockcontainer partnergridlist w-container">
                <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                <h2 class="partnersubkey">“แคมป์กล้าเรียน”</h2>
                <div class="w-layout-hflex partnerblock">
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/pimjai.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">ศ.ดร.พิมพ์ใจ ใจเย็น</h3>
                            <p class="partnersubtext plus">อธิการบดี<br>สถาบันวิทยสิริเมธี (VISTEC)</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3040342015fefc8ab435",
                                                    "origFileName": "profile-1_พิมพ์ใจ.png",
                                                    "fileName": "profile-1_พิมพ์ใจ.png",
                                                    "fileSize": 270941,
                                                    "height": 1600,
                                                    "url": "{main_url}/images/2567/teachers/popup/profile-1_พิมพ์ใจ.png",
                                                    "width": 800,
                                                    "caption": "ศ.ดร.พิมพ์ใจ ใจเย็น",
                                                    "type": "image"
                                                }],
                                                "group": "วิทยากร"
                                            }
                                        </script>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/nut.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณณัฐวุฒิ พึงเจริญพงศ์</h3>
                            <p class="partnersubtext plus">CEO และผู้ก่อตั้ง Ookbee<br>ผู้จัดการกองทุน 500 tuktuks<br>CEO SIX (crypto)</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3046d51e49055aa272d5",
                                                    "origFileName": "profile-2_ณัฐวุฒิ.png",
                                                    "fileName": "profile-2_ณัฐวุฒิ.png",
                                                    "fileSize": 237119,
                                                    "height": 1391,
                                                    "url": "{main_url}/images/2567/teachers/popup/profile-2_ณัฐวุฒิ.png",
                                                    "width": 800,
                                                    "caption": "คุณณัฐวุฒิ พึงเจริญพงศ์",
                                                    "type": "image"
                                                }],
                                                "group": "วิทยากร"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/woranun.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณวรกันต์ ธนโชติวรพงศ์</h3>
                            <p class="partnersubtext plus">ร่วมก่อตั้ง บ.มอร์ฟู้ดส์ อินโนเทค จำกัดผลิตภัณฑ์โปรตีนจากพืช <br>แบรนด์ More Meat</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a30410a0477eb5c8e45a3",
                                                    "origFileName": "profile-3_วรกันต์.png",
                                                    "fileName": "profile-3_วรกันต์.png",
                                                    "fileSize": 250697,
                                                    "height": 1395,
                                                    "url": "{main_url}/images/2567/teachers/popup/profile-3_วรกันต์.png",
                                                    "width": 800,
                                                    "caption": "คุณวรกันต์ ธนโชติวรพงศ์",
                                                    "type": "image"
                                                }],
                                                "group": ""
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/manoon.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณมนูญ ทนะวัง</h3>
                            <p class="partnersubtext plus plus">เจ้าของ <br>โกโก้ วัลเล่ย์ รีสอร์ท และคาเฟ่ <br>อ.ปัว จังหวัดน่าน</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3041b14e72e8d4f0ca14",
                                                    "origFileName": "profile-4_มนูญ.png",
                                                    "fileName": "profile-4_มนูญ.png",
                                                    "fileSize": 259364,
                                                    "height": 1359,
                                                    "url": "{main_url}/images/2567/teachers/popup/profile-4_มนูญ.png",
                                                    "width": 800,
                                                    "caption": "คุณมนูญ ทนะวัง",
                                                    "type": "image"
                                                }],
                                                "group": "วิทยากร"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <section class="linesection"></section>
                <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                <h2 class="partnersubkey">“แคมป์กล้าลุย”</h2>
                <div class="w-layout-hflex flex-block-2">
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/darin.png" loading="lazy" alt="" class="team-member-image-two-2"></div>
                        <div class="team-block-info-2">
                            <h3 class="partnername">คุณดาริน สุทธพงษ์</h3>
                            <p class="partnersubtext plus">CEO Hato Hub</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a30411d65ace284615877",
                                                    "origFileName": "profile-5_ดาริน.png",
                                                    "fileName": "profile-5_ดาริน.png",
                                                    "fileSize": 222311,
                                                    "height": 1202,
                                                    "url": "{main_url}/images/profile-5_ดาริน.png",
                                                    "width": 800,
                                                    "caption": "คุณดาริน สุทธพงษ์",
                                                    "type": "image"
                                                }],
                                                "group": "วิทยากร"
                                            }
                                        </script>
                                    </a>
                                </li>
                                <li class="list-item-2">
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-vdo.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "url": "https://www.youtube.com/watch?v=ybI52-kdpzM",
                                                    "originalUrl": "https://www.youtube.com/watch?v=ybI52-kdpzM",
                                                    "width": 940,
                                                    "height": 528,
                                                    "thumbnailUrl": "https://i.ytimg.com/vi/ybI52-kdpzM/hqdefault.jpg",
                                                    "html": "<iframe width=\"940\" height=\"528\" src=\"https://www.youtube.com/embed/ybI52-kdpzM?si=uuJN54mS7INMWCyO&rel=0\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\" allowfullscreen></iframe>",
                                                    "type": "video"
                                                }],
                                                "group": "คุณดาริน สุทธพงษ์ "
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/siriwat.png" loading="lazy" alt="" class="team-member-image-two-2"></div>
                        <div class="team-block-info-2">
                            <h3 class="partnername">คุณศิริวัฒน์ วรเวทวุฒิคุณ</h3>
                            <p class="partnersubtext plus">เจ้าของธุรกิจศิริวัฒน์แซนด์วิช</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3042f37897084a263c40",
                                                    "origFileName": "profile-6_ศิริวัฒน์.png",
                                                    "fileName": "profile-6_ศิริวัฒน์.png",
                                                    "fileSize": 182213,
                                                    "height": 1221,
                                                    "url": "{main_url}/images/profile-6_ศิริวัฒน์.png",
                                                    "width": 800,
                                                    "caption": "คุณศิริวัฒน์ วรเวทวุฒิคุณ",
                                                    "type": "image"
                                                }],
                                                "group": "วิทยากร"
                                            }
                                        </script>
                                    </a>
                                </li>
                                <li class="list-item-2">
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-vdo.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "url": "https://www.youtube.com/watch?v=lVUP3VQFgRQ",
                                                    "originalUrl": "https://www.youtube.com/watch?v=lVUP3VQFgRQ",
                                                    "width": 940,
                                                    "height": 528,
                                                    "thumbnailUrl": "http://i.ytimg.com/vi/lVUP3VQFgRQ/hqdefault.jpg",
                                                    "html": "<iframe width=\"940\" height=\"528\" src=\"https://www.youtube.com/embed/lVUP3VQFgRQ?si=CimcUWLtIAWj-4E2&rel=0\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\" allowfullscreen></iframe>",
                                                    "type": "video"
                                                }],
                                                "group": "คุณศิริวัฒน์ วรเวทวุฒิคุณ "
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <section class="linesection"></section>
                </div>
                <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                <h2 class="partnersubkey">“แคมป์กล้าก้าว”</h2>
                <section class="linesection"></section>
                <div class="w-layout-hflex flex-block-2">
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/peanut.png" loading="lazy" alt="" class="team-member-image-two-2"></div>
                        <div class="team-block-info-2">
                            <h3 class="partnername">คุณอารีย์ เพ็ชรรัตน์</h3>
                            <p class="partnersubtext plus">กรรมการผู้จัดการ<br>บริษัท บ้านถั่วลิสง จำกัด<br>‍</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3041b575d1272c0164e5",
                                                    "origFileName": "profile-7_อารีย์.png",
                                                    "fileName": "profile-7_อารีย์.png",
                                                    "fileSize": 235138,
                                                    "height": 1417,
                                                    "url": "{main_url}/images/profile-7_อารีย์.png",
                                                    "width": 800,
                                                    "caption": "คุณอารีย์ เพ็ชรรัตน์",
                                                    "type": "image"
                                                }],
                                                "group": "วิทยากร"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="sectionpicker">
            <div class="w-layout-blockcontainer pagedetail_parner w-container">
                <p class="partnersubhead">คณะกรรมการที่เข้าร่วมตัดสินในโครงการ</p>
                <h2 class="partnersubkey">“แคมป์กล้าเรียน”</h2>
                <div class="w-layout-hflex partnerblock">
                    <div class="commentatorlist">
                        <div class="partner-card"><img src="images/คุณณัฐนรี-ศรีชัยยะ.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณณัฐนรี ศรีชัยยะ</h3>
                            <p class="partnersubtext plus">ผู้อำนวยการกลุ่มงาน<br>ส่งเสริมการพัฒนาชุมชน<br>สำนักงานพัฒนาชุมชน<br>จังหวัดน่าน</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a303fa44b12668a2349bf",
                                                    "origFileName": "judge_1_ณัฐนรี.png",
                                                    "fileName": "judge_1_ณัฐนรี.png",
                                                    "fileSize": 209399,
                                                    "height": 1259,
                                                    "url": "{main_url}/images/judge_1_ณัฐนรี.png",
                                                    "width": 800,
                                                    "caption": "คุณณัฐนรี ศรีชัยยะ",
                                                    "type": "image"
                                                }],
                                                "group": "คณะกรรมการ"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/คุณธัญชนก-จอมทรักษ์.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณธัญชนก จอมทรักษ์</h3>
                            <p class="partnersubtext plus">ผู้จัดการศูนย์ให้บริการ SME ครบวงจร<br>สำนักงานส่งเสริมวิสาหกิจ<br>ขนาดกลางและขนาดย่อม<br>(สสว.) จ.น่าน</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3040b575d1272c016405",
                                                    "origFileName": "judge_2_ธัญชนก.png",
                                                    "fileName": "judge_2_ธัญชนก.png",
                                                    "fileSize": 263909,
                                                    "height": 1334,
                                                    "url": "{main_url}/images/judge_2_ธัญชนก.png",
                                                    "width": 800,
                                                    "caption": "คุณธัญชนก จอมทรักษ์",
                                                    "type": "image"
                                                }],
                                                "group": "คณะกรรมการ"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/คุณวีระ-เจียรนัยพานิชย์.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณวีระ เจียรนัยพานิชย์</h3>
                            <p class="partnersubtext plus">ที่ปรึกษาด้านการตลาด<br>และสร้างเครือข่ายธุรกิจ</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a30401b3f0140e500053a",
                                                    "origFileName": "judge_3_วีระ.png",
                                                    "fileName": "judge_3_วีระ.png",
                                                    "fileSize": 203428,
                                                    "height": 1268,
                                                    "url": "{main_url}/images/judge_3_วีระ.png",
                                                    "width": 800,
                                                    "caption": "คุณวีระ เจียรนัยพานิชย์",
                                                    "type": "image"
                                                }],
                                                "group": "คณะกรรมการ"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/คุณอานันท์-กุลปิยะวาจา.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณอานันท์ กุลปิยะวาจา</h3>
                            <p class="partnersubtext plus plus">Head of Entrepreneurship<br>and Innovation Instructor<br>Base Playhouse</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a303f35be97aaea06bfcf",
                                                    "origFileName": "judge_4_อานันท์.png",
                                                    "fileName": "judge_4_อานันท์.png",
                                                    "fileSize": 212062,
                                                    "height": 1233,
                                                    "url": "{main_url}/images/judge_4_อานันท์.png",
                                                    "width": 800,
                                                    "caption": "คุณอานันท์ กุลปิยะวาจา",
                                                    "type": "image"
                                                }],
                                                "group": "คณะกรรมการ"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-layout-hflex partnerblock">
                    <div class="commentatorlist">
                        <div class="partner-card"><img src="images/khun-wanwaraj-boonkong.png" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณวรรณวเรศ บุญคง</h3>
                            <p class="partnersubtext plus">Senior Investment Manager<br>Beacon Venture Capital</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "6527963bcfef9b13045b4a94",
                                                    "origFileName": "judge_wanwaraj.png",
                                                    "fileName": "judge_wanwaraj.png",
                                                    "fileSize": 276023,
                                                    "height": 1740,
                                                    "url": "{main_url}/images/judge_wanwaraj.png",
                                                    "width": 800,
                                                    "type": "image"
                                                }],
                                                "group": "คณะกรรมการ"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/dr-darinee.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">ดร.ดลินี ศาสตระรุจิ</h3>
                            <p class="partnersubtext plus">ผู้อำนวยการฝ่ายอาวุโส<br>Integrated Channels Management<br>Department</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "6527963b34ab1e4f8947dffd",
                                                    "origFileName": "judge_darinee.png",
                                                    "fileName": "judge_darinee.png",
                                                    "fileSize": 264622,
                                                    "height": 1740,
                                                    "url": "{main_url}/images/judge_darinee.png",
                                                    "width": 800,
                                                    "caption": "ดร.ดลินี ศาสตระรุจิ",
                                                    "type": "image"
                                                }],
                                                "group": "คณะกรรมการ"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="partnersubhead">คณะกรรมการที่เข้าร่วมตัดสินในโครงการ</p>
                <h2 class="partnersubkey">“แคมป์กล้าก้าว”</h2>
                <div class="w-layout-hflex partnerblock">
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/คุณชลารัตน์-พินิจเบญจพล.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณชลารัตน์ พินิจเบญจพล</h3>
                            <p class="partnersubtext plus">Executive Chairman <br>บริษัท กสิกร อินเวสเจอร์ จำกัด</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3040b575d1272c016447",
                                                    "origFileName": "judge_5_ชลารัตน์.png",
                                                    "fileName": "judge_5_ชลารัตน์.png",
                                                    "fileSize": 230702,
                                                    "height": 1340,
                                                    "url": "{main_url}/images/judge_5_ชลารัตน์.png",
                                                    "width": 800,
                                                    "caption": "คุณชลารัตน์ พินิจเบญจพล",
                                                    "type": "image"
                                                }],
                                                "group": "คณะกรรมการ"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/คุณเชษฐพันธุ์-ศิริดานุภัทร.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณเชษฐพันธุ์ ศิริดานุภัทร</h3>
                            <p class="partnersubtext plus">Managing Director<br>KBTG</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3040eca0ce9f1bde5bec",
                                                    "origFileName": "judge_8_เชษฐพันธุ์.png",
                                                    "fileName": "judge_8_เชษฐพันธุ์.png",
                                                    "fileSize": 209816,
                                                    "height": 1289,
                                                    "url": "{main_url}/images/judge_8_เชษฐพันธุ์.png",
                                                    "width": 800,
                                                    "caption": "คุณเชษฐพันธุ์ ศิริดานุภัทร",
                                                    "type": "image"
                                                }],
                                                "group": "คณะกรรมการ"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/ดร.พณชิต-กิตติปัญญางาม.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">ดร.พณชิต กิตติปัญญางาม</h3>
                            <p class="partnersubtext plus">อดีดนายกสมาคม Thailand Tech<br>Startup Association<br>CEO &amp; ผู้ร่วมก่อตั้ง ZTRUS</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a30416598f3dd3a79558e",
                                                    "origFileName": "judge_9_พณชิต.png",
                                                    "fileName": "judge_9_พณชิต.png",
                                                    "fileSize": 248537,
                                                    "height": 1369,
                                                    "url": "{main_url}/images/judge_9_พณชิต.png",
                                                    "width": 800,
                                                    "caption": "ดร.พณชิต กิตติปัญญางาม",
                                                    "type": "image"
                                                }],
                                                "group": "คณะกรรมการ"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/คุณเมธวิน-ปิติพรวิวัฒน์.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณเมธวิน ปิติพรวิวัฒน์</h3>
                            <p class="partnersubtext plus plus">CEO<br>BASE Playhouse</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3040b670f7e8d29c12c5",
                                                    "origFileName": "judge_10_เมธวิน.png",
                                                    "fileName": "judge_10_เมธวิน.png",
                                                    "fileSize": 213004,
                                                    "height": 1263,
                                                    "url": "{main_url}/images/judge_10_เมธวิน.png",
                                                    "width": 800,
                                                    "caption": "คุณเมธวิน ปิติพรวิวัฒน์",
                                                    "type": "image"
                                                }],
                                                "group": "คณะกรรมการ"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div data-w-tab="Tab 1" class="tabpane w-tab-pane">
        <div style="height: 50px;"></div>
        <div class="partnercontainer">
            <div class="w-layout-blockcontainer partnergridlist w-container">
                <div class="flex-container">
                    <!-- START BLOCK : LOGOBRANDS -->
                    <a href="{brandUrl}" class="flex-item"><img src="images/logo_brand/{brandImg}" width="100%"></a>
                    <!-- END BLOCK : LOGOBRANDS -->
                </div>



                <div class="buttons">

                    <a href="#" class="button-link" onclick="filterByLetter('ก'); return false;">ก</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ข'); return false;">ข</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ค'); return false;">ค</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ง'); return false;">ง</a>
                    <a href="#" class="button-link" onclick="filterByLetter('จ'); return false;">จ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ฉ'); return false;">ฉ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ช'); return false;">ช</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ซ'); return false;">ซ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ฌ'); return false;">ฌ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ญ'); return false;">ญ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ฐ'); return false;">ฐ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ฑ'); return false;">ฑ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ฒ'); return false;">ฒ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ณ'); return false;">ณ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ด'); return false;">ด</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ต'); return false;">ต</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ถ'); return false;">ถ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ท'); return false;">ท</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ธ'); return false;">ธ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('น'); return false;">น</a>
                    <a href="#" class="button-link" onclick="filterByLetter('บ'); return false;">บ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ป'); return false;">ป</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ผ'); return false;">ผ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ฝ'); return false;">ฝ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('พ'); return false;">พ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ฟ'); return false;">ฟ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ภ'); return false;">ภ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ม'); return false;">ม</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ย'); return false;">ย</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ร'); return false;">ร</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ล'); return false;">ล</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ว'); return false;">ว</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ศ'); return false;">ศ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ษ'); return false;">ษ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ส'); return false;">ส</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ห'); return false;">ห</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ฬ'); return false;">ฬ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('อ'); return false;">อ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('ฮ'); return false;">ฮ</a>
                    <a href="#" class="button-link" onclick="filterByLetter('all'); return false;">ทั้งหมด</a>
                </div>









                <h2 class="school-headertext">พันธมิตรร่วมเพาะพันธุ์ปัญญา</h2>
                <p class="school-keytext">รุ่นปี {Year67}</p>
                <div class="grid-container">
                    <!-- START BLOCK : ALN67 -->
                    <div class="grid-item">
                        <a href="#" class="partnerlightbox w-inline-block w-lightbox">
                            <img src="{photoALN}" loading="lazy" alt="{FullName}">
                            <script type="application/json" class="w-json">
                                {
                                    "items": [{
                                        "origFileName": "กัลย์ชฎารัตน์-aln-67.png",
                                        "fileName": "กัลย์ชฎารัตน์-aln-67.png",
                                        "fileSize": 222311,
                                        "url": "{main_url}/images/2567/teachers/popup/profile-กัลย์ชฎารัตน์.png",
                                        "caption": "{FullName}",
                                        "type": "image"
                                    }],
                                    "group": "partner{Year}"
                                }
                            </script>
                        </a>
                    </div>
                    <!-- END BLOCK : ALN67 -->
                </div>

                <h2 class="school-headertext">พันธมิตรร่วมเพาะพันธุ์ปัญญา</h2>
                <p class="school-keytext">รุ่นปี {Year66}</p>
                <div class="grid-container">
                    <!-- START BLOCK : ALN66 -->
                    <div class="grid-item">
                        <a href="#" class="partnerlightbox w-inline-block w-lightbox">
                            <img src="{photoALN}" loading="lazy" alt="{FullName}">
                            <script type="application/json" class="w-json">
                                {
                                    "items": [{
                                        "origFileName": "กัลย์ชฎารัตน์-aln-67.png",
                                        "fileName": "กัลย์ชฎารัตน์-aln-67.png",
                                        "fileSize": 222311,
                                        "url": "{main_url}/images/2567/teachers/popup/profile-กัลย์ชฎารัตน์.png",
                                        "caption": "{FullName}",
                                        "type": "image"
                                    }],
                                    "group": "partner{Year}"
                                }
                            </script>
                        </a>
                    </div>
                    <!-- END BLOCK : ALN66 -->
                </div>

                <br>
            </div>
        </div>
        <div style="height: 50px;"></div>
    </div>



</div>



</div>


<style>
    .inpartners_h2 {
        margin-top: 50px;
        color: #96b759;
        text-shadow: #000000;
    }
    
    .inpartners_h2_subtext {
        margin-top: -25px;
        color: #837670;
        font-size: 28pt;
    }
    
    .white_bg {
        background-color: white;
    }
    
    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* จัดกึ่งกลางในแนวนอน */
        gap: 2px;
        /* ปรับ gap ให้เป็น 2px */
        margin-bottom: 50px;
        align-content: center;
        padding: 10px;
        /* เพิ่ม padding เพื่อให้มีพื้นที่ภายใน */
        border-radius: 20px;
        /* ทำให้กรอบนอกเป็นมุมมน */
        background-color: #ededed;
        /* สีพื้นกรอบนอก */
    }
    
    .button-link {
        display: inline-block;
        padding: 6px 12px;
        background-color: #ededed;
        color: #666666;
        text-decoration: none;
        border-radius: 20px;
        font-size: 16px;
        text-align: center;
        border: 1px solid #ededed;
    }
    
    .button-link:hover {
        background-color: #cac9c9;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* Default for desktop */
        gap: 30px;
        /* Gap for both desktop and iPad */
        padding: 20px;
    }
    
    .grid-item {
        text-align: center;
    }
    
    .grid-item img {
        width: 100%;
        height: auto;
    }
    
    .grid-item p {
        font-size: 20px;
        margin-top: 10px;
    }
    /* Responsive for Mobile */
    
    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            /* 2 items per row on mobile */
            gap: 20px;
            /* Gap for Mobile */
        }
        .grid-item p {
            font-size: 16px;
            /* Smaller font size for mobile */
            display: block;
            /* Keep description visible on mobile */
        }
    }
    
    .flex-container {
        margin: 50px 0px 80px 0px;
        display: flex;
        justify-content: center;
        /* จัดกึ่งกลาง */
        align-items: center;
        /* จัดกึ่งกลางแนวตั้ง (ถ้าจำเป็น) */
        flex-wrap: wrap;
        /* ถ้าบล็อกเยอะเกินไปให้ย้ายลงบรรทัดใหม่ */
        gap: 10px;
        /* ระยะห่างระหว่างบล็อก */
    }
    
    .flex-item {
        width: 100px;
        flex: 0 0 auto;
        /* ทำให้บล็อกมีขนาดคงที่ */
        text-align: center;
        /* จัดกึ่งกลางเนื้อหาภายในบล็อก */
    }
</style>