<section class="keypageall">
    <div class="keypage_block">
        <h1 class="keypagetext">{page_title}</h1>
    </div>
</section>
<div class="w-layout">
    <div class="container-newsandmedia">
        <div style="height:25px;"></div>
        <a href="{url_main}/news-media" class="nag-buttontop w-button">{NewsAndMedia}</a>
        <div class="w-layout-blockcontainer container-6 w-container">
            {arrayNewsCategory}
        </div>
        <div style="height:25px;"></div>
        <div class="w-layout-grid grid3block">


            <!-- START BLOCK : GALLERY -->
            <a href="#" class="w-inline-block w-lightbox"><img src="{photo}" loading="lazy" alt="{camp_name}" class="schoolgallery">
                <script type="application/json" class="w-json">
                    {
                        "items": [{
                            "_id": "651b6139c78416c9cd9ceaf5",
                            "origFileName": "{photo_name}",
                            "fileName": "{photo_name}",
                            "fileSize": 1064,
                            "height": 710,
                            "url": "{photo}",
                            "width": 1064,
                            "caption": "{camp_name}",
                            "type": "image"
                        }],
                        "group": "{camp_id}"
                    }
                </script>
            </a>
            <!-- END BLOCK : GALLERY -->

        </div>
    </div>
</div>