<section class="keypageall">
    <div class="keypage_block">
        <h1 class="keypagetext">ทำเนียบรุ่นศิษย์เก่า</h1>
    </div>
</section>

<div data-current="Tab 3" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
    <div class="tabsmart w-tab-menu">

        <a data-w-tab="Tab 1" class="generation w-inline-block w-tab-link w--current" onclick="filterByLetterAll('all'); return false;">
            <div class="generationtext">ทั้งหมด</div>
        </a>

        <a data-w-tab="Tab 3" class="generation w-inline-block w-tab-link" onclick="filterByLetter('all'); return false;">
            <div class="generationtext">รุ่นปี 2567</div>
        </a>

        <a data-w-tab="Tab 2" class="generation w-inline-block w-tab-link" onclick="filterByLetter66('all'); return false;">
            <div class="generationtext">รุ่นปี 2566</div>
        </a>

    </div>
    <div class="w-tab-content">

        <div data-w-tab="Tab 3" class="tabpane w-tab-pane w--tab-active">
            <section class="pagedeail">
                <div class="partnercontainer">
                    <div class="w-layout-blockcontainer partnergridlist w-container">
                        <div class="buttons">

                            <a href="#" class="button-link" onclick="filterByLetter('ก'); return false;">ก</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ข'); return false;">ข</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ค'); return false;">ค</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ง'); return false;">ง</a>
                            <a href="#" class="button-link" onclick="filterByLetter('จ'); return false;">จ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ฉ'); return false;">ฉ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ช'); return false;">ช</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ซ'); return false;">ซ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ฌ'); return false;">ฌ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ญ'); return false;">ญ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ฐ'); return false;">ฐ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ฑ'); return false;">ฑ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ฒ'); return false;">ฒ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ณ'); return false;">ณ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ด'); return false;">ด</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ต'); return false;">ต</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ถ'); return false;">ถ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ท'); return false;">ท</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ธ'); return false;">ธ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('น'); return false;">น</a>
                            <a href="#" class="button-link" onclick="filterByLetter('บ'); return false;">บ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ป'); return false;">ป</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ผ'); return false;">ผ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ฝ'); return false;">ฝ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('พ'); return false;">พ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ฟ'); return false;">ฟ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ภ'); return false;">ภ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ม'); return false;">ม</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ย'); return false;">ย</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ร'); return false;">ร</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ล'); return false;">ล</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ว'); return false;">ว</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ศ'); return false;">ศ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ษ'); return false;">ษ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ส'); return false;">ส</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ห'); return false;">ห</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ฬ'); return false;">ฬ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('อ'); return false;">อ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('ฮ'); return false;">ฮ</a>
                            <a href="#" class="button-link" onclick="filterByLetter('all'); return false;">ทั้งหมด</a>



                        </div>
                    </div>


                    <h2 class="school-headertext">ทำเนียบนักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์</h2>
                    <p class="school-keytext">รุ่นปี 2567</p>



                    <div id="grid-container-2567" class="grid-container"></div>
                    <div id="nodata-2567"></div>






                </div>
            </section>
        </div>

        <div data-w-tab="Tab 2" class="tabpane w-tab-pane">

            <section class="pagedeail">
                <div class="partnercontainer">
                    <div class="w-layout-blockcontainer partnergridlist w-container">
                        <div class="buttons">

                            <a href="#" class="button-link" onclick="filterByLetter66('ก'); return false;">ก</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ข'); return false;">ข</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ค'); return false;">ค</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ง'); return false;">ง</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('จ'); return false;">จ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ฉ'); return false;">ฉ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ช'); return false;">ช</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ซ'); return false;">ซ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ฌ'); return false;">ฌ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ญ'); return false;">ญ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ฐ'); return false;">ฐ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ฑ'); return false;">ฑ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ฒ'); return false;">ฒ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ณ'); return false;">ณ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ด'); return false;">ด</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ต'); return false;">ต</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ถ'); return false;">ถ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ท'); return false;">ท</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ธ'); return false;">ธ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('น'); return false;">น</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('บ'); return false;">บ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ป'); return false;">ป</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ผ'); return false;">ผ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ฝ'); return false;">ฝ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('พ'); return false;">พ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ฟ'); return false;">ฟ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ภ'); return false;">ภ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ม'); return false;">ม</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ย'); return false;">ย</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ร'); return false;">ร</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ล'); return false;">ล</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ว'); return false;">ว</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ศ'); return false;">ศ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ษ'); return false;">ษ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ส'); return false;">ส</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ห'); return false;">ห</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ฬ'); return false;">ฬ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('อ'); return false;">อ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('ฮ'); return false;">ฮ</a>
                            <a href="#" class="button-link" onclick="filterByLetter66('all'); return false;">ทั้งหมด</a>
                        </div>
                    </div>


                    <h2 class="school-headertext">ทำเนียบนักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์</h2>
                    <p class="school-keytext">รุ่นปี 2566</p>


                    <div id="grid-container-66" class="grid-container"></div>
                    <div id="nodata-66"></div>
                </div>

            </section>

        </div>

        <div data-w-tab="Tab 1" class="tabpane w-tab-pane">
            <section class="pagedeail">

                <div class="partnercontainer">

                    <div class="w-layout-blockcontainer partnergridlist w-container">
                        <div class="buttons">

                            <a href="#" class="button-link" onclick="filterByLetterAll('ก'); return false;">ก</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ข'); return false;">ข</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ค'); return false;">ค</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ง'); return false;">ง</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('จ'); return false;">จ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ฉ'); return false;">ฉ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ช'); return false;">ช</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ซ'); return false;">ซ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ฌ'); return false;">ฌ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ญ'); return false;">ญ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ฐ'); return false;">ฐ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ฑ'); return false;">ฑ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ฒ'); return false;">ฒ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ณ'); return false;">ณ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ด'); return false;">ด</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ต'); return false;">ต</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ถ'); return false;">ถ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ท'); return false;">ท</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ธ'); return false;">ธ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('น'); return false;">น</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('บ'); return false;">บ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ป'); return false;">ป</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ผ'); return false;">ผ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ฝ'); return false;">ฝ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('พ'); return false;">พ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ฟ'); return false;">ฟ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ภ'); return false;">ภ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ม'); return false;">ม</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ย'); return false;">ย</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ร'); return false;">ร</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ล'); return false;">ล</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ว'); return false;">ว</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ศ'); return false;">ศ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ษ'); return false;">ษ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ส'); return false;">ส</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ห'); return false;">ห</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ฬ'); return false;">ฬ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('อ'); return false;">อ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('ฮ'); return false;">ฮ</a>
                            <a href="#" class="button-link" onclick="filterByLetterAll('all'); return false;">ทั้งหมด</a>
                        </div>
                    </div>


                    <h2 class="school-headertext">ทำเนียบนักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์</h2>
                    <p class="school-keytext">ทั้งหมด</p>


                    <div id="grid-container-all" class="grid-container"></div>
                    <div id="nodata-all"></div>




                </div>
            </section>
        </div>

    </div>

</div>


<script>
    // ฟังก์ชันสำหรับการกรองข้อมูลตามตัวอักษรในปี 2567
    function filterByLetter(letter) {
        loadStudentsByLetter('2567', letter);
    }

    // ฟังก์ชันสำหรับการกรองข้อมูลตามตัวอักษรในปี 2566
    function filterByLetter66(letter) {
        loadStudentsByLetter('2566', letter);
    }

    // ฟังก์ชันสำหรับการกรองข้อมูลทั้งหมด
    function filterByLetterAll(letter) {
        loadStudentsByLetter('all', letter);
    }

    // ฟังก์ชันโหลดข้อมูลนักเรียนจาก PHP ตามปีและตัวอักษร
    function loadStudentsByLetter(year, letter) {
        const requestData = {
            year: year,
            letter: letter
        };

        // ใช้ fetch เพื่อส่งข้อมูลแบบ POST
        fetch('loadStudents.php', {
                method: 'POST', // ใช้ POST แทน GET
                headers: {
                    'Content-Type': 'application/json', // แจ้งว่าเราส่งข้อมูลในรูปแบบ JSON
                },
                body: JSON.stringify(requestData) // แปลงข้อมูลให้เป็น JSON string เพื่อส่งไปยัง PHP
            })
            .then(response => response.json()) // รอผลลัพธ์และแปลงเป็น JSON
            .then(data => {
                let gridContainer;
                let noDataContainer;

                // ตรวจสอบว่าอยู่ในปีไหน
                if (year === '2567') {
                    gridContainer = document.getElementById('grid-container-2567');
                    noDataContainer = document.getElementById('nodata-2567');
                } else if (year === '2566') {
                    gridContainer = document.getElementById('grid-container-66');
                    noDataContainer = document.getElementById('nodata-66');
                } else if (year === 'all') {
                    gridContainer = document.getElementById('grid-container-all');
                    noDataContainer = document.getElementById('nodata-all');
                } else {}

                // ล้างข้อมูลเก่า
                gridContainer.innerHTML = '';
                noDataContainer.innerHTML = '';

                if (data.length > 0) {
                    // วนลูปข้อมูลที่ได้มาและแสดงผล
                    data.forEach(student => {
                        const gridItem = document.createElement('div');
                        gridItem.classList.add('grid-item');
                        const link = document.createElement('a');
                        link.href = student.url;
                        const img = document.createElement('img');
                        img.src = 'upload/' + student.year + '/students/alumni/' + student.photo_aln;
                        img.alt = student.name;
                        link.appendChild(img);
                        gridItem.appendChild(link);
                        gridContainer.appendChild(gridItem);
                    });
                } else {
                    // ถ้าไม่มีข้อมูล ให้แสดงภาพ "nodata.png"
                    const img = document.createElement('img');
                    img.src = './images/nodata.png';
                    img.style.width = '100%'; // ปรับขนาดให้เต็มความกว้าง
                    noDataContainer.appendChild(img);
                }
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }

    // โหลดข้อมูลเริ่มต้นเมื่อหน้าเว็บโหลด (เฉพาะปี 2567 ก่อน)
    document.addEventListener('DOMContentLoaded', function() {
        loadStudentsByLetter('all', 'all'); // โหลดข้อมูลทั้งหมดของปี 2567
    });
</script>





<style>
    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* จัดกึ่งกลางในแนวนอน */
        gap: 2px;
        /* ปรับ gap ให้เป็น 2px */
        margin-bottom: 50px;
        align-content: center;
        padding: 10px;
        /* เพิ่ม padding เพื่อให้มีพื้นที่ภายใน */
        border-radius: 20px;
        /* ทำให้กรอบนอกเป็นมุมมน */
        background-color: #ffffff;
        /* สีพื้นกรอบนอก */
    }
    
    .button-link {
        display: inline-block;
        padding: 6px 12px;
        background-color: #ededed;
        color: #666666;
        text-decoration: none;
        border-radius: 20px;
        font-size: 15px;
        text-align: center;
        border: 1px solid #ededed;
    }
    
    .button-link:hover {
        background-color: #cac9c9;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* Default for desktop */
        gap: 30px;
        /* Gap for both desktop and iPad */
        padding: 20px;
    }
    
    .grid-item {
        text-align: center;
    }
    
    .grid-item img {
        width: 100%;
        height: auto;
    }
    
    .grid-item p {
        font-size: 20px;
        margin-top: 10px;
    }
    /* Responsive for Mobile */
    
    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: repeat(3, 1fr);
            /* 2 items per row on mobile */
            gap: 20px;
            /* Gap for Mobile */
        }
        .grid-item p {
            font-size: 16px;
            /* Smaller font size for mobile */
            display: block;
            /* Keep description visible on mobile */
        }
    }
    
    @media (max-width: 479px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            /* 2 items per row on mobile */
            gap: 20px;
            /* Gap for Mobile */
        }
        .grid-item p {
            font-size: 16px;
            /* Smaller font size for mobile */
            display: block;
            /* Keep description visible on mobile */
        }
    }
</style>