<section class="keyscool"><img src="../images/2567/banners/67team_banner_3.png" loading="lazy" width="960" sizes="100vw" alt="" srcset="../images/2567/banners/67team_banner_3-p-500.png 500w, ../images/2567/banners/_banner_3-p-800.png 800w, ../images/2567/banners/67team_banner_3-p-1080.png 1080w, ../images/2567/banners/_banner_3-p-1600.png 1600w, ../images/2567/banners/67team_banner_3.png 1920w"
    class="keyschoolimage"></section>



<section class="schoolteams">
<div class="school-container">
    <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ ปี 2567</h2>
    <p class="school-keytext">ทีมอำเภอเวียงสา</p>
    <div  class="school-headertext" style="color: #837670;">รร. สาธุกิจประชาสรรค์ รัชมังคลาภิเษก และ รร. สารทิศพิทยาคม </div>
    <div class="schoolstudentgrid4">


    <!-- เวียงสา -->

<div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d8d-f265d5ba" class="schoolstudentblock">
    <img src="../images/2567/students/03-wiang-sa/นิติศาสตร์.png" loading="lazy" alt="นาย นิติศาสตร์ ปากอง" class="school-student">
    <div class="schoolstudent-name">นาย นิติศาสตร์ ปากอง</div>
    <div class="schoolname-subtext-student">รร. สาธุกิจประชาสรรค์<br>รัชมังคลาภิเษก</div>
</div>

<div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d8d-f265d5ba" class="schoolstudentblock">
    <img src="../images/2567/students/03-wiang-sa/ทักษอร.png" loading="lazy" alt="น.ส. ทักษอร บุตรเต" class="school-student">
    <div class="schoolstudent-name">น.ส. ทักษอร บุตรเต</div>
    <div class="schoolname-subtext-student">รร. สาธุกิจประชาสรรค์<br>รัชมังคลาภิเษก</div>
</div>

<div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d8d-f265d5ba" class="schoolstudentblock">
    <img src="../images/2567/students/03-wiang-sa/อมราพร.png" loading="lazy" alt="น.ส. อมราพร บัวระภา" class="school-student">
    <div class="schoolstudent-name">น.ส. อมราพร บัวระภา</div>
    <div class="schoolname-subtext-student">รร. สารทิศพิทยาคม</div>
</div>

<div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d8d-f265d5ba" class="schoolstudentblock">
    <img src="../images/2567/students/03-wiang-sa/วีรภัทร.png" loading="lazy" alt="นาย วีรภัทร เขียวสุวรรณ" class="school-student">
    <div class="schoolstudent-name">นาย วีรภัทร เขียวสุวรรณ</div>
    <div class="schoolname-subtext-student">รร. สารทิศพิทยาคม</div>
</div>

<div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d8d-f265d5ba" class="schoolstudentblock">
    <img src="../images/2567/students/03-wiang-sa/กัญญาณัฐ.png" loading="lazy" alt="น.ส. กัญญาณัฐ กุณาวงค์" class="school-student">
    <div class="schoolstudent-name">น.ส. กัญญาณัฐ กุณาวงค์</div>
    <div class="schoolname-subtext-student">รร. สารทิศพิทยาคม</div>
</div>





    </div>
</div>
</section>
<section class="schoolphotovdos" style="background-color: #efecea;">
<div class="container-_index_vdo">
    <div class="w-layout-blockcontainer container-6 w-container">
        <a href="#" class="schoolbutton-active w-button">ทั้งหมด</a>
        <a href="#" class="school_button w-button">แกลลอรี</a>
        <a href="#" class="school_button w-button">วิดีโอแกลลอรี</a>
    </div>
    <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
            <div class="team-slide-wrapper-3 w-slide">
                <div class="team-block-3"><img src="../images/2567/students/03-wiang-sa/01เวียงสา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/03-wiang-sa/01เวียงสา-p-500.png 500w, ../images/2567/students/03-wiang-sa/01เวียงสา-p-800.png 800w, ../images/2567/students/03-wiang-sa/01เวียงสา.png 1064w" alt="" class="schoolgallery">
                    <div class="team-block-info-3"></div>
                </div>
                <div class="team-block-3"><img src="../images/2567/students/03-wiang-sa/02เวียงสา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/03-wiang-sa/02เวียงสา-p-500.png 500w, ../images/2567/students/03-wiang-sa/02เวียงสา-p-800.png 800w, ../images/2567/students/03-wiang-sa/02เวียงสา.png 1064w" alt="" class="schoolgallery">
                    <div class="team-block-info-3"></div>
                </div>
            </div>
            <div class="team-slide-wrapper-3 w-slide">
                <div class="team-block-3">
                    <img src="../images/2567/students/03-wiang-sa/03เวียงสา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/03-wiang-sa/03เวียงสา-p-500.png 500w, ../images/2567/students/03-wiang-sa/03เวียงสา-p-800.png 800w, ../images/2567/students/03-wiang-sa/03เวียงสา.png 1064w"
                        alt="" class="schoolgallery">
                        <img src="../images/2567/students/03-wiang-sa/04เวียงสา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/03-wiang-sa/04เวียงสา-p-500.png 500w, ../images/04เวียงสา-p-800.png 800w, ../images/2567/students/03-wiang-sa/04เวียงสา.png 1064w"
                        alt="" class="schoolgallery">
                    <div class="team-block-info-3"></div>
                </div>
            </div>
            <div class="team-slide-wrapper-3 w-slide">
                <div class="team-block-3">
                    <img src="../images/2567/students/03-wiang-sa/04เวียงสา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/03-wiang-sa/04เวียงสา-p-500.png 500w, ../images/2567/students/03-wiang-sa/04เวียงสา-p-800.png 800w, ../images/2567/students/03-wiang-sa/04เวียงสา.png 1064w"
                        alt="" class="schoolgallery">
                        <img src="../images/2567/students/03-wiang-sa/04เวียงสา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/03-wiang-sa/04เวียงสา-p-500.png 500w, ../images/04เวียงสา-p-800.png 800w, ../images/2567/students/03-wiang-sa/04เวียงสา.png 1064w"
                        alt="" class="schoolgallery"></div>
            </div>
        </div>
        <div class="team-slider-arrow-3 w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
        </div>
        <div class="team-slider-arrow-3 w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
        </div>
        <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num"></div>
    </div>
</div>
</section>



