<section class="keypageall">
    <div class="keypage_block">
        <h1 class="keypagetext">รายละเอียดโครงการ</h1>
    </div>
</section>
<section class="pagedeail">

    <div class="w-layout-blockcontainer projectcontent">
        <h1 class="headerProject"><img src="../images/project-information/logocamp1.png"></h1>
    </div>




    <div class="w-layout-blockcontainer projectcontent bgsection1">


        <h1 class="heading-11 container" style="color: #00953b;margin-top:50px; margin-bottom: 50px;">วัตถุประสงค์โครงการ</h1>

        <div class="infographic5items w-row">
            <div class="w-col w-col-4 w-col-medium-4 w-col-small-12 w-col-tiny-12"><img src="images/project-information/png/section01/section1_c1.png" loading="lazy" alt="" class="stepinfo"></div>
            <div class="w-col w-col-4 w-col-medium-4 w-col-small-12 w-col-tiny-12"><img src="images/project-information/png/section01/section1_c2.png" loading="lazy" alt="" class="stepinfo"></div>
            <div class="w-col w-col-4 w-col-medium-4 w-col-small-12 w-col-tiny-12"><img src="images/project-information/png/section01/section1_c3.png" loading="lazy" alt="" class="stepinfo"></div>
        </div>
    </div>

    <div class="w-layout-blockcontainer projectcontent">
        <h1 class="heading-11 container" style="color: #00953b;margin-top:50px; margin-bottom: 50px;">เส้นทางการเรียนรู้</h1>
        <p class="paragraph-12 container" style="line-height:30px;"><strong>“เพาะพันธุ์ปัญญาแคมป์”</strong> เป็นแคมป์ที่จะฝึกฝนนักเรียนให้สามารถทำธุรกิจได้ ด้วยการดึงศักยภาพที่มีในตนเอง เสริมกับความรู้ใหม่ ทักษะใหม่ ประสบการณ์ใหม่ ที่ได้รับจากวิทยากรมืออาชีพและการลงมือปฏิบัติเอง ผ่านเส้นทางการเข้าแคมป์เชิงปฏิบัติการและการเรียนออนไลน์อย่างต่อเนื่อง
        </p>

        <div class="ProjectDesk">
            <div class="infographic5items w-row">
                <div class="w-col w-col-2 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/project-information/png/section02/projectinfo_section02_step_01.png" loading="lazy" alt="" class="stepinfo"></div>
                <div class="w-col w-col-2 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/project-information/png/section02/projectinfo_section02_step_02.png" loading="lazy" alt="" class="stepinfo"></div>
                <div class="w-col w-col-2 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/project-information/png/section02/projectinfo_section02_step_03.png" loading="lazy" alt="" class="stepinfo"></div>
                <div class="w-col w-col-2 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/project-information/png/section02/projectinfo_section02_step_04.png" loading="lazy" alt="" class="stepinfo"></div>
                <div class="w-col w-col-2 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/project-information/png/section02/projectinfo_section02_step_05.png" loading="lazy" alt="" class="stepinfo"></div>
            </div>
            <div class="infographic5items w-row">
                <div class="w-col w-col-2 w-col-medium-2 w-col-small-2 w-col-tiny-2"><img src="images/project-information/png/section02/pre-camp.png" loading="lazy" alt="" class="pre-camp"></div>
                <div class="w-col w-col-6 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/project-information/png/section02/in-camp.png" loading="lazy" alt="" class="in-camp"></div>
                <div class="w-col w-col-2 w-col-medium-2 w-col-small-2 w-col-tiny-2"><img src="images/project-information/png/section02/post-camp.png" loading="lazy" alt="" class="post-camp"></div>
            </div>
        </div>

        <div class="ProjectMobile">
            <div class="infographic5items w-row">
                <div class="w-col">
                    <img src="images/project-information/png/section02/projectinfo_section02_step_01.png" loading="lazy" alt="" class="stepinfo">

                </div>
                <div class="w-col"><img src="images/project-information/png/section02/projectinfo_section02_step_02.png" loading="lazy" alt="" class="stepinfo"></div>
                <div class="w-col"><img src="images/project-information/png/section02/projectinfo_section02_step_03.png" loading="lazy" alt="" class="stepinfo"></div>
                <div class="w-col"><img src="images/project-information/png/section02/projectinfo_section02_step_04.png" loading="lazy" alt="" class="stepinfo"></div>
                <div class="w-col"><img src="images/project-information/png/section02/projectinfo_section02_step_05.png" loading="lazy" alt="" class="stepinfo"></div>
            </div>
        </div>


    </div>
    <div class="w-layout-blockcontainer projectcontent bgsection3">
        <div class="ProjectDesk"><img src="images/project-information/png/03.png"></div>
        <div class="ProjectMobile"><img src="images/project-information/png/03_mobile.png"></div>
    </div>
    <div class="w-layout-blockcontainer projectcontent">


        <h1 class="heading-11 container" style="color: #00953b;margin-top:50px; margin-bottom: 50px;">สิ่งที่ผู้เข้าร่วมโครงการจะได้รับ</h1>

        <div class="infographic5items w-row">
            <div class="w-col w-col-4 w-col-medium-4 w-col-small-12 w-col-tiny-12"><img src="images/project-information/png/section04/project-recive-section4-block01.png" loading="lazy" alt="" class="stepinfo"></div>
            <div class="w-col w-col-4 w-col-medium-4 w-col-small-12 w-col-tiny-12"><img src="images/project-information/png/section04/project-recive-section4-block02.png" loading="lazy" alt="" class="stepinfo"></div>
            <div class="w-col w-col-4 w-col-medium-4 w-col-small-12 w-col-tiny-12"><img src="images/project-information/png/section04/project-recive-section4-block03.png" loading="lazy" alt="" class="stepinfo"></div>
            <div class="w-col w-col-4 w-col-medium-4 w-col-small-12 w-col-tiny-12"><img src="images/project-information/png/section04/project-recive-section4-block04.png" loading="lazy" alt="" class="stepinfo"></div>
            <div class="w-col w-col-4 w-col-medium-4 w-col-small-12 w-col-tiny-12"><img src="images/project-information/png/section04/project-recive-section4-block05.png" loading="lazy" alt="" class="stepinfo"></div>
            <div class="w-col w-col-4 w-col-medium-4 w-col-small-12 w-col-tiny-12"><img src="images/project-information/png/section04/project-recive-section4-block06.png" loading="lazy" alt="" class="stepinfo"></div>

        </div>







    </div>
</section>



<style type="text/css">
    .in-camp {
        max-width: 100%;
    }
    
    .infographic5items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        /* Add margin as needed */
    }
    
    .infographic5items img {
        max-width: 100%;
        height: auto;
        display: block;
        /* Remove any extra spacing issues */
        margin: 0 auto;
        /* Center the image horizontally */
        border-radius: 8px;
        /* Add rounded corners if desired */
        opacity: 0;
        /* Set initial opacity to 0 for fade-in effect */
        transition: opacity 0.5s ease-in-out;
        /* Add transition for fade-in effect */
        flex: 1 1 calc(18% - 10px);
        /* Set the flex properties for 5 columns with margin between images */
        margin-bottom: 10px;
        /* Add some space between the images */
    }
    
    .infographic5items img.stepinfo {
        /* Specific styles for stepinfo images */
    }
    
    .infographic5items img.pre-camp {
        margin-left: -5px;
        /* Move it to the left by 5px */
    }
    
    .infographic5items img.in-camp {
        margin-left: -5px;
        /* Move it to the left by 5px */
    }
    
    .infographic5items img.post-camp {
        margin-left: -5px;
        /* Move it to the left by 5px */
    }
    /* Responsive styles for smaller screens */
    
    @media screen and (max-width: 911px) {
        .infographic5items img {
            flex: 1 1 calc(100% - 10px);
            /* Set the flex properties for a single column on mobile with margin between images */
        }
    }
    /* Additional styles for mobile devices */
    
    @media screen and (max-width: 767px) {
        .infographic5items img {
            flex: 1 1 100%;
            /* Full-width on mobile devices */
        }
    }
    /* Fade-in effect */
    
    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
    
    .infographic5items img {
        animation: fadeIn 1s ease-in-out;
        /* Apply the fade-in animation */
        animation-fill-mode: forwards;
        /* Ensure the final state of the animation is maintained */
    }
    
    .bgsection1 {
        background-image: url('images/project-information/prinfo-bg-section1.png');
        background-color: gray;
        background-size: cover;
        background-position: center;
        padding: 25px 0px 0px;
        position: relative;
        text-align: center;
    }
    
    .bgsection3 {
        background-image: url('images/project-information/prinfo-bg-section1.png');
        background-color: gray;
        background-size: cover;
        background-position: center;
        padding: 25px 0px 0px;
        position: relative;
        text-align: center;
    }
    
    .headerProject {
        font-family: Sarabun, sans-serif;
        text-align: center;
        font-size: 60px;
        font-weight: 600;
        color: #00953b;
        margin-bottom: 50px;
    }
    
    .h1Project {
        font-family: Sarabun, sans-serif;
        text-align: center;
        font-size: 80px;
        font-weight: 600;
        color: #00953b;
        margin-bottom: 50px;
    }
    
    .certificate {
        padding-top: 50px;
    }
    
    .certificate>p {
        font-size: 23px;
        height: 30px;
        font-weight: 600;
        color: #00953b;
        text-align: center;
    }
    
    .certificate>ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .certificate>ul>li {
        margin: 0;
        padding: 0;
    }
    
    .certificate>ul>li>ol {
        margin: 0 0 10px 0;
        padding: 0;
    }
    
    @media screen and (min-width: 768px) {
        .ProjectDesk {
            display: block;
        }
        .ProjectMobile {
            display: none;
        }
        .certificate {
            display: flex;
        }
        .certificate>p {
            padding-left: 5%;
            text-align: left;
        }
        .certificate>ul.block-reward1 {
            width: 75%;
        }
        .certificate>ul.block-reward1>li {}
        .certificate>ul.block-reward1>li>ol {
            width: 33%;
            float: left;
        }
        .certificate>ul.block-reward2 {
            width: 25%;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .certificate>ul.block-reward2>li {}
    }
    
    @media screen and (max-width: 768px) {
        .ProjectDesk {
            display: none;
        }
        .ProjectMobile {
            display: block;
        }
        .w-layout-blockcontainer {
            width: 100%;
        }
    }
</style>