<section class="keypageall">
    <div class="keypage_block">
        <h1 class="keypagetext pdpa_head">นโยบายความคุ้มครองข้อมูลส่วนบุคคล</h1>
        <h1 class="keypagetext pdpa_headm">นโยบายความคุ้มครอง<br>ข้อมูลส่วนบุคคล</h1>
    </div>
</section>

<div class="w-layout-blockcontainer maincontainer w-container">
    <div class="textdetailsub">ปรับปรุงล่าสุด เดือน กุมภาพันธ์ 2567</div>
    <p class="text_praragraph_pda">มูลนิธิเพาะพันธุ์ปัญญา ( “<strong>มูลนิธิฯ</strong>” ) จดทะเบียนก่อตั้งขึ้นเมื่อวันที่ 3 ธันวาคม 2565 โดยยึดมั่นในการดำเนินงานอย่างมีจรรยาบรรณ เคารพและปฏิบัติตามกฎหมายที่บังคับใช้และตระหนักถึงการได้รับความไว้วางใจจากท่าน มูลนิธิฯเข้าใจดีว่าท่านต้องการความปลอดภัยในการทำธุรกรรมและการเก็บรักษาข้อมูลส่วนบุคคลดังนั้น
        มูลนิธิฯจึงให้ความสำคัญด้านการเคารพสิทธิในความเป็นส่วนตัวของท่านและการรักษาความปลอดภัยของข้อมูลส่วนบุคคลของท่านโดยได้กำหนดนโยบาย ระเบียบ และหลักเกณฑ์ต่างๆ ในการดำเนินงานของมูลนิธิฯด้วยมาตรการที่เข้มงวดในการรักษาความปลอดภัยของข้อมูลส่วนบุคคลเพื่อให้ท่านมั่นใจว่าข้อมูลส่วนบุคคลของท่านจะถูกนำไปใช้ตรงตามความต้องการของท่านและถูกต้องตามกฎหมาย
        <br>&zwj;</p>
    <p class="text_praragraph_pda"><strong class="bold-text-6">1. นโยบายฉบับนี้มีขึ้นเพื่ออะไร</strong><br> &nbsp; &nbsp; นโยบายฉบับนี้ใช้เพื่อแจ้งให้ท่านในฐานะที่เป็นผู้รับบริจาค/ผู้บริจาค/ ผู้รับทุนการศึกษา/ครูและ/หรือนักเรียนที่สมัครเข้าร่วมกิจกรรมหรือบุคคลอื่นใดซึ่งเป็นเจ้าของข้อมูลส่วนบุคคลทราบถึงวัตถุประสงค์และรายละเอียดของการเก็บรวบรวมใช้
        และ/หรือเปิดเผยข้อมูลส่วนบุคคลตลอดจนสิทธิตามกฎหมายของท่านที่เกี่ยวข้องกับข้อมูลส่วนบุคคล
    </p>
    <p class="text_praragraph_pda"><strong>2. ข้อมูลส่วนบุคคลอะไรบ้างที่มูลนิธิฯ เก็บรวบรวมใช้ และ/หรือเปิดเผย</strong>&zwj;</p>
    <p class="text_praragraph_pda subtext1"><strong>2.1 ข้อมูลส่วนบุคคล</strong> คือ ข้อมูลที่ทำให้สามารถระบุตัวตนของท่านได้ ไม่ว่าทางตรงหรือทางอ้อม ได้แก่</p>
    <p class="text_praragraph_pda subtext1">2.1.1 ข้อมูลส่วนบุคคลที่ท่านให้ไว้แก่มูลนิธิฯโดยตรง หรือให้ผ่านมูลนิธิฯ หรือมีอยู่กับมูลนิธิฯ ทั้งที่เกิดจากการใช้บริการติดต่อ เยี่ยมชม ค้นหา สมัครเข้าร่วมกิจกรรมต่าง ๆ ผ่านช่อง<br>ทางของมูลนิธิฯ หรือ ผู้ที่ได้รับมอบหมายหรือช่องทางอื่นใด<br>2.1.2
        ข้อมูลส่วนบุคคลที่มูลนิธิฯได้รับหรือเข้าถึงได้จากแหล่งอื่นซึ่งไม่ใช่จากท่านโดยตรง เช่น หน่วยงานของรัฐเป็นต้น ซึ่งมูลนิธิฯจะเก็บรวบรวมข้อมูลจากแหล่งอื่นต่อเมื่อได้รับความยินยอมจากท่านตามที่กฎหมายกำหนดเว้นแต่มูลนิธิฯ มีความจำเป็นตามกรณีที่กฎหมายอนุญาตข้อมูลส่วนบุคคลของท่านที่มูลนิธิฯเก็บรวบรวม
        ใช้ และ/หรือเปิดเผย เช่น</p>
    <p class="text_praragraph_pda subtext2 subtext2-li">- ข้อมูลส่วนตัว เช่น ชื่อ นามสกุล อายุ วันเดือนปีเกิด สถานภาพสมรส เลขประจำตัวประชาชน เลขประจำตัวผู้เสียภาษี อาชีพ<br>- ข้อมูลการติดต่อ เช่น ที่อยู่อาศัย สถานที่ทำงาน หมายเลขโทรศัพท์ ที่อยู่อีเมล ไอดีไลน์ <br>- ข้อมูลธุรกรรมทางการเงิน เช่น เลขบัญชีเงินฝาก
        รายละเอียดการโอน/ ชำระเงิน และ/หรือ รับโอน/ รับชำระเงิน <br>- ข้อมูลการบริจาค เช่น รายละเอียดการรับบริจาค รายละเอียดการให้บริจาค รายละเอียดการซื้อสินค้าบริจาค <br>- ข้อมูลบนเอกสารที่ออกโดยหน่วยงานราชการ (เช่น สำเนาบัตรประจำตัวประชาชน สำเนาหนังสือเดินทาง
        สำเนาบัตรประจำตัวข้าราชการ / รัฐวิสาหกิจ <br>สำเนาทะเบียนบ้าน สำเนาสูติบัตร สำเนาใบเปลี่ยนชื่อ สำเนาใบอนุญาตขับขี่รถยนต์ หรือเอกสารที่ใช้ในการระบุและยืนยันตัวตนที่มีลักษณะเดียวกัน) <br>- ข้อมูลอื่นๆ เช่น เสียง ภาพนิ่ง ภาพเคลื่อนไหว และข้อมูลอื่นใดที่ถือว่าเป็นข้อมูลส่วนบุคคลภายใต้กฎหมายคุ้มครองข้อมูลส่วนบุคคล</p>
    <p class="text_praragraph_pda"><strong>3. มูลนิธิฯเก็บรวบรวม ใช้ และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน</strong><br> &nbsp; &nbsp; เพื่อวัตถุประสงค์ใดบ้าง&nbsp;มูลนิธิฯจะดำเนินการเก็บรวบรวมข้อมูลส่วนบุคคลของท่านเพื่อประโยชน์ของท่านในการดำเนินงานของมูลนิธิฯ ตลอดจนเพื่อปฏิบัติตามกฎหมายใดๆที่มูลนิธิฯ
        หรือท่านต้องปฏิบัติตามและเพื่อวัตถุประสงค์อื่นใดตามที่ระบุในนโยบายฉบับนี้ ดังนี้&nbsp;</p>
    <p class="text_praragraph_pda">3.1 เพื่อให้ท่านได้ใช้บริการของมูลนิธิฯได้ตรงตามวัตถุประสงค์ของท่าน และเพื่อการอื่นที่จำเป็นภายใต้กฎหมาย</p>
    <p class="text_praragraph_pda subtext2">3.1.1 เพื่อให้ท่านสามารถใช้บริการของมูลนิธิฯ ได้ตามความประสงค์ซึ่งท่านเป็นคู่สัญญาอยู่กับมูลนิธิฯหรือเพื่อใช้ในการดำเนินการตามคำขอของท่านก่อนใช้บริการของมูลนิธิฯ (ContractualBasis) เช่นใช้บริการของมูลนิธิฯเพื่อเรียนรู้ตามแนวทางของโครงการเพาะพันธุ์ปัญญา<br>3.1.2
        เพื่อประโยชน์สาธารณะหรือปฏิบัติหน้าที่ในการที่ใช้อำนาจรัฐที่ได้มอบหมายให้มูลนิธิฯ เป็นผู้ดำเนินการ(Public Interest) เช่น&nbsp;</p>
    <p class="text_praragraph_pda subtext2 subtext2-li">(1) เพื่อส่งเสริมและสนับสนุนการพัฒนาสมรรถนะของครูและนักเรียนให้มีทักษะสำคัญสำหรับการเรียนรู้ในศตวรรษที่ 21<br>(2) เพื่อสร้างเครือข่ายครูและนักเรียนที่สนใจแนวทางการพัฒนาครูและนักเรียนตามแบบของโครงการเพาะพันธุ์ปัญญาที่ใช้การวิจัยเป็นฐานพัฒนาการเรียนรู้<br>(3)
        เพื่อสนับสนุนการจัดตั้งศูนย์การเรียนรู้หรือศูนย์ฝึกอบรมและพัฒนาทักษะครูและนักเรียน โดยไม่แสวงหากำไร<br>(4) เพื่อสนับสนุนการเผยแพร่และขยายผลแนวทางการพัฒนาการศึกษาที่มีประสิทธิภาพไปสู่วงกว้าง<br>(5) เพื่อดำเนินการหรือร่วมมือกับสถาบันและองค์กรพันธมิตรในการกำหนดหลักเกณฑ์การจัดกิจกรรมเพื่อพัฒนาครูและนักเรียนสู่กลุ่มเยาวชนเพื่อความสมดุลและยั่งยืนรวมถึงการพัฒนาการสร้างความสามารถและทักษะใหม่ๆ
        เพื่อการสร้างเศรษฐกิจ สังคมสิ่งแวดล้อม และธรรมาภิบาล รวมถึงความรู้ด้านอื่นๆเพื่อให้บรรลุเป้าหมายการพัฒนาอย่างยั่งยืน <br>(6) เพื่อคัดเลือกครูแกนนำและนักเรียนเพื่อเข้าร่วมฝึกอบรมเพื่อพัฒนากิจกรรมเพื่อความยั่งยืน<br>(7) เพื่อดำเนินการหรือร่วมมือกับองค์กรการกุศลองค์กรสาธารณประโยชน์
        หรือภาคส่วนต่างๆ จัดหาเงินทุนสนับสนุน เพื่อการศึกษา ฝึกอบรม ค้นคว้า วิจัยและการพัฒนาทักษะครูและนักเรียน <br>(8) เพื่อดำเนินการอื่นใดที่เกี่ยวข้องกับการส่งเสริมพัฒนา หรือสนับสนุน แนวทางการเรียนการสอน บุคลากรทางการศึกษา ครูและนักเรียน</p>
    <p class="text_praragraph_pda subtext2">3.1.3 เพื่อปฎิบัติหน้าที่ตามกฎหมายที่เกี่ยวข้องหรือใช้บังคับ(Legal Obligation) เช่น</p>
    <p class="text_praragraph_pda subtext2 subtext2-li">(1) การปฏิบัติตามคำสั่งของผู้มีอำนาจตามกฎหมาย<br>(2) การปฏิบัติตามกฎหมายที่มูลนิธิฯ จำเป็นต้องปฏิบัติตามทั้งของในประเทศไทยและต่างประเทศรวมถึงประกาศและระเบียบที่ออกตามกฎหมายดังกล่าว ทั้งนี้ หากมูลนิธิฯ จำเป็นต้องใช้และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่านสำหรับการปฏิบัติหน้าที่ตามกฎหมายของมูลนิธิฯหรือการเข้าทำสัญญากับท่าน
        มูลนิธิฯ อาจจะไม่สามารถจัดหา/ส่งมอบบริการให้แก่ท่านหากมูลนิธิฯ ไม่สามารถเก็บรวบรวมข้อมูลส่วนบุคคลของท่านเมื่อมีการร้องขอ&nbsp;</p>
    <p class="text_praragraph_pda subtext2">3.1.4 เพื่อการดำเนินงานที่จำเป็นภายใต้ประโยชน์โดยชอบด้วยกฎหมายของมูลนิธิฯหรือของบุคคลหรือนิติบุคคลอื่นโดยไม่เกินขอบเขตที่ท่านสามารถคาดหมายได้อย่างสมเหตุสมผล (Legitimate Interest) เช่น</p>
    <p class="text_praragraph_pda subtext2 subtext2-li">(1) การทำให้ข้อมูลส่วนบุคคลเป็นข้อมูลที่ไม่สามารถระบุตัวบุคคลได้ (Anonymous Data)<br>(2) การป้องกัน รับมือลดความเสี่ยงที่อาจเกิดการกระทำการทุจริต ภัยคุกคามทางไซเบอร์ การทำผิดกฎหมายต่างๆ<br>(3) การติดต่อ การบันทึกภาพการบันทึกเสียงเกี่ยวกับการจัดประชุม
        อบรม สันทนาการ หรือออกบูธ&nbsp;<br>(4) การรับ-ส่งพัสดุ</p>
    <p class="text_praragraph_pda">3.2 เพื่อให้ท่านได้รับประโยชน์จากการใช้บริการ ตามที่ท่านเลือกให้ความยินยอมไว้ เช่น </p>
    <p class="text_praragraph_pda subtext2 subtext2-li">(1) เพื่อให้ท่านได้รับบริการที่ดียิ่งขึ้นและสอดคล้องกับความต้องการของท่าน<br>(2) เพื่อให้ท่านได้รับข้อเสนอคำแนะนำ และข่าวสารต่างๆ จากมูลนิธิฯ ทั้งนี้ ไม่ว่าจะเป็นบริการ ข่าวสารหรือกิจกรรมของมูลนิธิฯ หรือของบุคคลที่มูลนิธิฯ เป็นตัวแทน นายหน้า ผู้จำหน่ายหรือของพันธมิตร
        หรือของบุคคลภายนอกที่มีความเกี่ยวข้องกับมูลนิธิฯตามแต่กรณีที่ท่านให้ความยินยอมไว้
    </p>
    <p class="text_praragraph_pda"><strong>4. มูลนิธิฯอาจเปิดเผยข้อมูลส่วนบุคคลของท่านให้ใครบ้าง</strong><br> &nbsp; &nbsp; มูลนิธิฯ อาจเปิดเผยข้อมูลส่วนบุคคลของท่านให้แก่ผู้อื่นภายใต้ความยินยอมของท่านหรือภายใต้หลักเกณฑ์ที่กฎหมายอนุญาตให้เปิดเผยได้โดยบุคคลหรือหน่วยงานที่เป็นผู้รับข้อมูลดังกล่าวจะเก็บรวบรวม
        ใช้และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่านตามขอบเขตที่ท่านได้ให้ความยินยอมหรือขอบเขตที่เกี่ยวข้องในนโยบายฉบับนี้มูลนิธิฯ อาจเปิดเผยข้อมูลส่วนบุคคลของท่านเพื่อวัตถุประสงค์ต่างๆ เช่นเพื่อการให้บริการแก่ท่าน เพื่อการนำเสนอบริการเพื่อการวิเคราะห์และพัฒนาปรับปรุงบริการ
        เพื่อการทำวิจัยหรือจัดทำข้อมูลทางสถิติเพื่อการประชาสัมพันธ์ของมูลนิธิฯ เพื่อการบริหารการดำเนินงานเพื่อให้ผู้อื่นให้บริการสนับสนุนแก่ มูลนิธิฯ เพื่อการพิสูจน์ตัวตน โดยมูลนิธิฯอาจเปิดเผยให้แก่บุคคลหรือหน่วยงานต่างๆ เช่น ผู้ประมวลผลข้อมูลส่วนบุคคลผู้ให้บริการภายนอก
        ตัวแทนของมูลนิธิฯ ผู้รับจ้างช่วงงานต่อ ผู้มีอำนาจตามกฎหมายนิติบุคคลหรือบุคคลใดๆ ที่มีความสัมพันธ์หรือมีสัญญาอยู่กับมูลนิธิฯซึ่งรวมตลอดถึง ผู้บริหาร พนักงาน ลูกจ้าง ผู้รับจ้าง ตัวแทน ที่ปรึกษาของมูลนิธิฯและของบุคคลหรือหน่วยงานที่เป็นผู้รับข้อมูลดังกล่าว</p>
    <p class="text_praragraph_pda"><strong>5. มูลนิธิฯมีการใช้คุกกี้บนเว็บไซต์หรือไม่</strong><br> &nbsp; &nbsp; คุกกี้ คือไฟล์ข้อมูลขนาดเล็กที่ถูกดาวน์โหลดไปยังเว็บเบราว์เซอร์ อุปกรณ์คอมพิวเตอร์อุปกรณ์เชื่อมต่ออินเตอร์เน็ต เช่น สมาร์ทโฟน หรือแท็บเล็ตของท่านเพื่อทำหน้าที่บันทึกข้อมูลและการตั้งค่าต่างๆ<br>&nbsp;
        &nbsp; มูลนิธิฯ มีการใช้คุกกี้ประเภทจำเป็นถาวร (Strictly Necessary Cookies) เพื่อช่วยให้ท่านสามารถเข้าถึงข้อมูลและใช้งานเว็บไซต์ของมูลนิธิฯได้อย่างมีประสิทธิภาพ โดยคุกกี้ประเภทนี้จำเป็นต่อการทำงานพื้นฐานของเว็บไซต์ของมูลนิธิฯ จึงไม่สามารถปิดการใช้คุกกี้ประเภทนี้ได้
    </p>
    <p class="text_praragraph_pda"><strong>6. มูลนิธิฯจัดเก็บข้อมูลส่วนบุคคลของท่านไว้นานเท่าใด</strong><br> &nbsp; &nbsp; มูลนิธิฯจะเก็บรักษาข้อมูลส่วนบุคคลของท่านไว้ตามระยะเวลาที่จำเป็นในระหว่างที่ท่านมีความสัมพันธ์อยู่กับมูลนิธิฯหรือตลอดระยะเวลาที่จำเป็นเพื่อให้บรรลุวัตถุประสงค์ที่เกี่ยวข้องในนโยบายฉบับนี้ซึ่งอาจจำเป็นต้องเก็บรักษาไว้ต่อไปภายหลังจากนั้นหากมีกฎหมายกำหนดหรืออนุญาตไว้เช่นจัดเก็บไว้เพื่อวัตถุประสงค์ในการพิสูจน์ตรวจสอบกรณีอาจเกิดข้อพิพาทภายในอายุความตามที่กฎหมายกำหนดเป็นระยะเวลาไม่เกิน10
        ปี ทั้งนี้ มูลนิธิฯจะมีการดำเนินการในขั้นตอนที่เหมาะสม เพื่อทำการลบหรือทำลายข้อมูลส่วนบุคคลหรือทำให้เป็นข้อมูลที่ไม่สามารถระบุถึงตัวตนของท่านได้เมื่อหมดความจำเป็นหรือสิ้นสุดระยะเวลาดังกล่าว</p>
    <p class="text_praragraph_pda"><strong>7. มูลนิธิฯคุ้มครองข้อมูลส่วนบุคคลของท่านอย่างไร</strong><br> &nbsp; &nbsp; มูลนิธิฯ จะเก็บรักษาข้อมูลส่วนบุคคลของท่านไว้เป็นอย่างดีตามมาตรการเชิงเทคนิค (Technical Safeguard) และมาตรการเชิงบริหารจัดการ (Administrative Safeguard) และมาตราการป้องกันทางกายภาพ
        (Physical Safeguard) เพื่อธำรงไว้ซึ่งความลับ ความถูกต้องครบถ้วนสภาพความพร้อมใช้งานของข้อมูลส่วนบุคคล เพื่อป้องกันการเข้าถึง เก็บรวบรวมเปลี่ยนแปลง แก้ไข ใช้ และ/หรือเปิดเผยข้อมูลส่วนบุคคลโดยปราศจากอำนาจหรือโดยมิชอบทั้งนี้เป็นไปตามที่กฎหมายที่ใช้บังคับกำหนด
        <br>มูลนิธิฯ ได้จัดให้มีมาตรการที่เหมาะสมเพื่อป้องกันการละเมิดข้อมูลส่วนบุคคลโดยได้กำหนดนโยบาย ระเบียบ และหลักเกณฑ์ในการคุ้มครองข้อมูลส่วนบุคคล เช่นมาตรการควบคุมการเข้าถึงข้อมูลส่วนบุคคลและการใช้งานอุปกรณ์สำหรับการจัดเก็บและประมวลผลข้อมูลส่วนบุคคลที่ปลอดภัยและเหมาะสมการจำกัดการเข้าถึงข้อมูลส่วนบุคคล
        การกำหนดสิทธิการเข้าถึงข้อมูลส่วนบุคคลของผู้ใช้งานสิทธิในการอนุญาตให้ผู้เกี่ยวข้องที่ได้รับมอบหมายให้เข้าถึงข้อมูลและหน้าที่ความรับผิดชอบของผู้ใช้งาน <br>เพื่อป้องกันการเข้าถึงข้อมูลส่วนบุคคลการเปิดเผย การล่วงรู้ หรือการลักลอบทำสำเนาข้อมูลส่วนบุคคลหรือการลักขโมยอุปกรณ์จัดเก็บหรือประมวลผลข้อมูลส่วนบุคคลโดยไม่ได้รับอนุญาตมากไปกว่านั้น
        มูลนิธิฯ ยังมีมาตรการสำหรับการตรวจสอบย้อนหลังเกี่ยวกับการเข้าถึงเปลี่ยนแปลง ลบหรือถ่ายโอนข้อมูลส่วนบุคคลให้สอดคล้องเหมาะสมกับวิธีการและเครื่องมือที่ใช้ในการเก็บรวบรวมใช้ หรือเปิดเผยข้อมูลส่วนบุคคล นอกจากนี้ ผู้บริหาร พนักงาน ลูกจ้าง ผู้รับจ้างตัวแทน
        ที่ปรึกษา และผู้รับข้อมูลจากมูลนิธิฯมีหน้าที่ต้องรักษาความลับข้อมูลส่วนบุคคลตามมาตรการรักษาความลับที่มูลนิธิฯ กำหนดขึ้น</p>
    <p class="text_praragraph_pda"><strong>8. สิทธิของท่านเกี่ยวกับข้อมูลส่วนบุคคลมีอะไรบ้าง&nbsp;</strong><br> &nbsp; &nbsp; สิทธิของท่านในข้อนี้เป็นสิทธิตามกฎหมายที่ท่านควรทราบโดยท่านสามารถขอใช้สิทธิต่างๆ ได้ภายใต้ข้อกำหนดของกฎหมายและนโยบายที่กำหนดไว้ในขณะนี้หรือที่จะมีการแก้ไขเพิ่มเติมในอนาคตตลอดจนหลักเกณฑ์ตามที่มูลนิธิฯ
        กำหนดขึ้น และในกรณีท่านมีอายุไม่ครบ 20 ปีบริบูรณ์หรือถูกจำกัดความสามารถในการทำนิติกรรมตามกฎหมายท่านสามารถขอใช้สิทธิโดยให้บิดาและมารดา ผู้ใช้อำนาจปกครองหรือมีผู้อำนาจกระทำการแทนเป็นผู้แจ้งความประสงค์</p>
    <p class="text_praragraph_pda subtext1"><strong>8.1 สิทธิขอถอนความยินยอม</strong> : หากท่านได้ให้ความยินยอมให้มูลนิธิฯ เก็บรวบรวม ใช้และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน (ไม่ว่าจะเป็นความยินยอมที่ท่านให้ไว้ก่อนวันที่กฎหมายคุ้มครองข้อมูลส่วนบุคคลใช้บังคับหรือหลังจากนั้น) ท่านมีสิทธิที่จะถอนความยินยอมเมื่อใดก็ได้ตลอดระยะเวลาที่ข้อมูลส่วนบุคคลของท่านอยู่กับมูลนิธิฯเว้นแต่มีข้อจำกัดสิทธินั้นโดยกฎหมายหรือมีสัญญาที่ให้ประโยชน์แก่ท่านอยู่
        ทั้งนี้การถอนความยินยอมของท่านอาจส่งผลกระทบต่อท่านจากการใช้บริการต่างๆ เช่นท่านจะไม่ได้รับสิทธิประโยชน์ หรือข้อเสนอใหม่ๆไม่ได้รับบริการที่ดียิ่งขึ้นและสอดคล้องกับความต้องการของท่านหรือไม่ได้รับข้อมูลข่าวสารอันเป็นประโยชน์แก่ท่าน เป็นต้น เพื่อประโยชน์ของท่านจึงควรศึกษาและสอบถามถึงผลกระทบก่อนถอนความยินยอม
    </p>
    <p class="text_praragraph_pda subtext1"><strong>8.2 สิทธิขอเข้าถึงข้อมูล</strong> : ท่านมีสิทธิขอเข้าถึงข้อมูลส่วนบุคคลของท่านที่อยู่ในความรับผิดชอบของมูลนิธิฯและขอให้มูลนิธิฯ ทำสำเนาข้อมูลดังกล่าวให้แก่ท่าน รวมถึงขอให้มูลนิธิฯเปิดเผยว่ามูลนิธิฯ ได้ข้อมูลส่วนบุคคลของท่านมาได้อย่างไร&nbsp;</p>
    <p class="text_praragraph_pda subtext1"><strong>8.3 สิทธิขอถ่ายโอนข้อมูล</strong> : ท่านมีสิทธิขอรับข้อมูลส่วนบุคคลของท่านในกรณีที่มูลนิธิฯได้จัดทำข้อมูลส่วนบุคคลนั้นอยู่ในรูปแบบให้สามารถอ่าน หรือใช้งานได้ด้วยเครื่องมือหรืออุปกรณ์ที่ทำงานได้โดยอัตโนมัติและสามารถใช้หรือเปิดเผยข้อมูลส่วนบุคคลได้ด้วยวิธีการอัตโนมัติรวมทั้งมีสิทธิขอให้มูลนิธิฯส่งหรือโอนข้อมูลส่วนบุคคลในรูปแบบดังกล่าวไปยังผู้ควบคุมข้อมูลส่วนบุคคลอื่นเมื่อสามารถทำได้ด้วยวิธีการอัตโนมัติและมีสิทธิขอรับข้อมูลส่วนบุคคลที่มูลนิธิฯส่งหรือโอนข้อมูลส่วนบุคคลในรูปแบบดังกล่าวไปยังผู้ควบคุมข้อมูลส่วนบุคคลอื่นโดยตรงเว้นแต่ไม่สามารถดำเนินการได้เพราะเหตุทางเทคนิค
        ทั้งนี้ข้อมูลส่วนบุคคลของท่านข้างต้นต้องเป็นข้อมูลส่วนบุคคลที่ท่านได้ให้ความยินยอมแก่มูลนิธิฯในการเก็บรวบรวม ใช้ และ/หรือเปิดเผย หรือเป็นข้อมูลส่วนบุคคลที่มูลนิธิฯจำเป็นต้องเก็บรวบรวม ใช้ และ/หรือเปิดเผยเพื่อให้ท่านสามารถใช้บริการของมูลนิธิฯได้ตามความประสงค์ซึ่งท่านเป็นคู่สัญญาอยู่กับมูลนิธิฯหรือเพื่อใช้ในการดำเนินการตามคำขอของท่านก่อนใช้บริการของมูลนิธิฯหรือเป็นข้อมูลส่วนบุคคลอื่นตามที่ผู้มีอำนาจตามกฎหมายกำหนด</p>
    <p class="text_praragraph_pda subtext1"><strong>8.4 สิทธิขอคัดค้าน</strong> : ท่านมีสิทธิขอคัดค้านการเก็บรวบรวม ใช้และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่านในเวลาใดก็ได้ หากการเก็บรวบรวม ใช้และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่านที่ทำขึ้นเพื่อการดำเนินงานที่จำเป็นภายใต้ประโยชน์โดยชอบด้วยกฎหมายของมูลนิธิฯหรือของบุคคลหรือนิติบุคคลอื่นโดยไม่เกินขอบเขตที่ท่านสามารถคาดหมายได้อย่างสมเหตุสมผลหรือเพื่อดำเนินการตามภารกิจเพื่อสาธารณประโยชน์
        หากท่านยื่นคัดค้าน มูลนิธิฯจะยังคงดำเนินการเก็บรวบรวม ใช้และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่านต่อไปเฉพาะที่มูลนิธิฯ สามารถแสดงเหตุผลตามกฎหมายได้ว่ามีความสำคัญยิ่งกว่าสิทธิขั้นพื้นฐานของท่านหรือเป็นไปเพื่อการยืนยันสิทธิตามกฎหมาย การปฏิบัติตามกฎหมายหรือการต่อสู้ในการฟ้องร้องตามกฎหมาย
        ตามแต่ละกรณี นอกจากนี้ท่านยังมีสิทธิขอคัดค้านการเก็บรวบรวม ใช้และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่านที่ทำขึ้นเพื่อวัตถุประสงค์เกี่ยวกับการตลาดแบบตรงหรือเพื่อวัตถุประสงค์เกี่ยวกับการศึกษาวิจัยทางวิทยาศาสตร์ ประวัติศาสตร์หรือสถิติได้อีกด้วย
    </p>
    <p class="text_praragraph_pda subtext1"><strong>8.5 สิทธิขอให้ลบหรือทำลายข้อมูล</strong> : ท่านมีสิทธิขอลบหรือทำลายข้อมูลส่วนบุคคลของท่านหรือทำให้ข้อมูลส่วนบุคคลเป็นข้อมูลที่ไม่สามารถระบุตัวท่านได้หากท่านเชื่อว่าข้อมูลส่วนบุคคลของท่านถูกเก็บรวบรวม ใช้และ/หรือเปิดเผยโดยไม่ชอบด้วยกฎหมายที่เกี่ยวข้อง
        หรือเห็นว่ามูลนิธิฯหมดความจำเป็นในการเก็บรักษาไว้ตามวัตถุประสงค์ที่เกี่ยวข้องในนโยบายฉบับนี้หรือเมื่อท่านได้ใช้สิทธิขอถอนความยินยอมหรือใช้สิทธิขอคัดค้านตามที่แจ้งไว้ข้างต้นแล้ว&nbsp;
    </p>
    <p class="text_praragraph_pda subtext1"><strong>8.6 สิทธิขอให้ระงับการใช้ข้อมูล</strong> : ท่านมีสิทธิขอให้ระงับการใช้ข้อมูลส่วนบุคคลชั่วคราวในกรณีที่มูลนิธิฯอยู่ระหว่างตรวจสอบตามคำร้องขอใช้สิทธิขอแก้ไขข้อมูลส่วนบุคคลหรือขอคัดค้านของท่านหรือกรณีอื่นใดที่มูลนิธิฯ หมดความจำเป็นและต้องลบหรือทำลายข้อมูลส่วนบุคคลของท่านตามกฎหมายที่เกี่ยวข้องแต่ท่านขอให้มูลนิธิฯระงับการใช้แทน</p>
    <p class="text_praragraph_pda subtext1"><strong>8.7 สิทธิร้องเรียน</strong> : ท่านมีสิทธิร้องเรียนต่อผู้มีอำนาจตามกฎหมายที่เกี่ยวข้องหากท่านเชื่อว่าการเก็บรวบรวม ใช้และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่านเป็นการกระทำในลักษณะที่ฝ่าฝืนหรือไม่ปฏิบัติตามกฎหมายที่เกี่ยวข้องการใช้สิทธิของท่านดังกล่าวข้างต้นอาจถูกจำกัดภายใต้กฎหมายที่เกี่ยวข้องและมีบางกรณีที่มีเหตุจำเป็นที่มูลนิธิฯอาจปฏิเสธหรือไม่สามารถดำเนินการตามคำขอใช้สิทธิข้างต้นของท่านได้
        เช่นต้องปฏิบัติตามกฎหมายหรือคำสั่งศาล เพื่อประโยชน์สาธารณะการใช้สิทธิอาจละเมิดสิทธิหรือเสรีภาพของบุคคลอื่น เป็นต้น หากมูลนิธิฯ ปฏิเสธคำขอข้างต้น มูลนิธิฯ จะแจ้งเหตุผลของการปฏิเสธให้ท่านทราบด้วย&nbsp;ทั้งนี้ท่านสามารถติดต่อมูลนิธิฯ เพื่อขอใช้สิทธิต่างๆ
        ได้ที่สำนักงานของมูลนิธิฯ เลขที่ 1 อาคารธนาคารกสิกรไทย ชั้น 29 ซอยราษฎร์บูรณะ 27/1 แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ กรุงเทพมหานคร 10140 โทรศัพท์: 02-8675718</p>
    <p class="text_praragraph_pda"><strong>9. มูลนิธิฯจะแก้ไขเพิ่มเติมหรือปรับปรุงนโยบายการคุ้มครองข้อมูลส่วนบุคคลหรือไม่&nbsp;</strong><br> &nbsp; &nbsp; มูลนิธิฯอาจพิจารณาทบทวนเพื่อแก้ไขเพิ่มเติมหรือปรับปรุงนโยบายฉบับนี้เป็นครั้งคราวตามความเหมาะสมและเท่าที่กฎหมายอนุญาตทั้งนี้ ในกรณีที่มีการแก้ไขเพิ่มเติมหรือเปลี่ยนแปลงนโยบายฉบับนี้
        มูลนิธิฯจะดำเนินการประกาศนโยบายฉบับปัจจุบันให้ท่านทราบบนเว็บไซต์ของมูลนิธิ https://www.pohpunpanyafoundation.org/pdpa.php</p>
    <p class="text_praragraph_pda"><strong>10. ท่านจะติดต่อมูลนิธิฯได้อย่างไร</strong><br> &nbsp; &nbsp; หากท่านมีข้อเสนอแนะหรือต้องการสอบถามข้อมูลเกี่ยวกับรายละเอียดการเก็บรวบรวม ใช้และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน รวมถึงการขอใช้สิทธิตามนโยบายฉบับนี้ท่านสามารถติดต่อมูลนิธิฯ ผ่านช่องทางดังนี้
    </p>
    <p class="text_praragraph_pda subtext1">
        - Website : https://www.pohpunpanyafoundation.org/pdpa.php <br> - สำนักงานของมูลนิธิฯ เลขที่ 1 อาคารธนาคารกสิกรไทย ชั้น 29 ซอยราษฎร์บูรณะ 27/1 แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ กรุงเทพมหานคร 10140 <br> - โทรศัพท์ : 02-8675718<br>

    </p>
</div>





<div class="freespace"></div>


<style>
    .text_praragraph_pda {
        text-align: left;
        overflow-wrap: normal;
        margin-top: 20px;
        font-family: Sarabun, sans-serif;
        font-size: 18px;
        line-height: 30px;
    }
    
    .text_praragraph_pda.subtext1 {
        padding-left: 20px;
    }
    
    .text_praragraph_pda.subtext2.subtext2-li {
        padding-left: 20px;
    }
    
    .keypagetext {
        color: var(--white);
        margin-top: auto;
        margin-bottom: auto;
        font-family: Sarabun, sans-serif;
        font-size: 40px;
        font-weight: 600;
    }
    
    .keypagetext.pdpa_head {
        display: block;
    }
    
    .keypagetext.pdpa_headm {
        display: none;
    }
    
    @media screen and (max-width: 1440px) {
        .text_praragraph_pda {
            text-align: left;
            overflow-wrap: normal;
            margin-top: 20px;
            font-family: Sarabun, sans-serif;
            font-size: 18px;
            line-height: 30px;
        }
        .text_praragraph_pda.subtext1 {
            padding-left: 20px;
        }
        .text_praragraph_pda.subtext2.subtext2-li {
            padding-left: 20px;
        }
    }
    
    @media screen and (max-width: 1200px) {
        /*Special Devince*/
    }
    
    @media screen and (max-width: 991px) {
        .text_praragraph_pda {
            text-align: left;
            overflow-wrap: normal;
            margin-top: 20px;
            font-family: Sarabun, sans-serif;
            font-size: 18px;
            line-height: 30px;
        }
        .text_praragraph_pda.subtext1 {
            padding-left: 20px;
        }
        .text_praragraph_pda.subtext2.subtext2-li {
            padding-left: 20px;
        }
        .keypagetext {
            font-size: 35px;
        }
        .keypagetext.pdpa_head {
            display: none;
        }
        .keypagetext.pdpa_headm {
            display: block;
        }
        .pdpa {
            padding-left: 5%;
            margin-left: 0;
        }
    }
    
    @media screen and (max-width: 767px) {
        .text_praragraph_pda {
            text-align: left;
            overflow-wrap: normal;
            margin-top: 20px;
            font-family: Sarabun, sans-serif;
            font-size: 18px;
            line-height: 30px;
        }
        .text_praragraph_pda.subtext1 {
            padding-left: 20px;
        }
        .text_praragraph_pda.subtext2.subtext2-li {
            padding-left: 20px;
        }
        .keypagetext {
            font-size: 35px;
        }
    }
    
    @media screen and (max-width: 479px) {
        .text_praragraph_pda {
            text-align: left;
            overflow-wrap: normal;
            margin-top: 20px;
            font-family: Sarabun, sans-serif;
            font-size: 14px;
            line-height: 30px;
        }
        .text_praragraph_pda.subtext1 {
            padding-left: 20px;
        }
        .text_praragraph_pda.subtext2.subtext2-li {
            padding-left: 20px;
        }
        .keypagetext {
            font-size: 22px;
            padding-left: 0px;
            text-align: left;
            line-height: 1.3;
        }
    }
</style>