<section class="keyscool"><img src="../images/2567/banners/67team_banner_1.png" loading="lazy" width="960" sizes="100vw" alt="" srcset="../images/2567/banners/67team_banner_1-p-500.png 500w, ../images/2567/banners/67team_banner_1-p-800.png 800w, ../images/2567/banners/67team_banner_1-p-1080.png 1080w, ../images/2567/banners/67team_banner_1-p-1600.png 1600w, ../images/2567/banners/67team_banner_1.png 1920w"
        class="keyschoolimage"></section>
<section class="schoolbrand" style="display: none;">
    <div class="schoolcontainter">
        <div class="detailschoolmain">
            <h1 class="school_keybrand">Nplant</h1>
            <p class="school-brand-keytextdetail">นมเม็ดมะม่วงหิมพานต์<br> นมทางเลือกสำหรับคนที่ต้องการทางเลือก
            </p>

        </div>
    </div>
</section>
<section class="schoolteams5">
    <div class="school-container5">
        <h2 class="school-headertext shDesktop">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ รุ่นปี 2567</h2>

        <p class="school-keytext">ทีมอำเภอเมือง</p>
        <div class="school-headertext " style="color: #837670; ">รร.น่านคริสเตียนศึกษา และ รร. สตรีศรีน่าน </div>
        <div class="schoolstudentgrid5">
            <div class="schoolstudentblock5">
                <img src="../images/2567/students/01-mueang/ธนัชพร.png " loading="lazy " alt="น.ส. ธนัชพร ปราณีต " class="school-student5">
                <div class="schoolstudent-name5">น.ส. ธนัชพร ปราณีต</div>
                <div class="schoolname-subtext-student5">รร. น่านคริสเตียนศึกษา</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/2567/students/01-mueang/พิชชาพร.png " loading="lazy " alt="น.ส. พิชชาพร จันทร์สว่าง " class="school-student5">
                <div class="schoolstudent-name5">น.ส. พิชชาพร จันทร์สว่าง</div>
                <div class="schoolname-subtext-student5">รร. น่านคริสเตียนศึกษา</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/2567/students/01-mueang/พราวพิลาส.png " loading="lazy " alt="น.ส. พราวพิลาส ชูดํา " class="school-student5">
                <div class="schoolstudent-name5">น.ส. พราวพิลาส ชูดํา</div>
                <div class="schoolname-subtext-student5">รร. สตรีศรีน่าน</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/2567/students/01-mueang/พัสวี.png " loading="lazy " alt="นาย พัสวี กอกวังใน " class="school-student5">
                <div class="schoolstudent-name5">นาย พัสวี กอกวังใน</div>
                <div class="schoolname-subtext-student5">รร. สตรีศรีน่าน</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/2567/students/01-mueang/ฐิติกาญจน์.png " loading="lazy " alt="น.ส. ฐิติกาญจน์ สุทธิแสน " class="school-student5">
                <div class="schoolstudent-name5">น.ส. ฐิติกาญจน์ สุทธิแสน</div>
                <div class="schoolname-subtext-student5">รร. สตรีศรีน่าน</div>
            </div>
        </div>









    </div>
</section>
<section class="schoolphotovdos" style="background-color: #efecea;">
    <div class="container-index_vdo ">

        <div class="w-layout-blockcontainer container-6 w-container ">
            <a href="# " class="nag-button w-button active ">ทั้งหมด</a>
            <a href="# " class="nag-button w-button ">แกลลอรี</a>
            <a href="# " class="nag-button w-button ">วิดีโอแกลลอรี</a>
        </div>
        <div data-delay="4000 " data-animation="slide " class="team-slider-wrapper-4 w-slider " data-autoplay="false " data-easing="ease " data-hide-arrows="false " data-disable-swipe="false " data-autoplay-limit="0 " data-nav-spacing="3
        " data-duration="500 " data-infinite="true ">
            <div class="w-slider-mask ">
                <div class="team-slide-wrapper-3 w-slide ">
                    <div class="team-block-3 "><img src="../images/2567/students/01-mueang/01เมือง.png " loading="lazy " sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px " srcset="../images/2567/students/01-mueang/01เมือง-p-500.png
        500w, ../images/2567/students/01-mueang/01เมือง-p-800.png 800w, ../images/2567/students/01-mueang/01เมือง.png 1064w " alt=" " class="schoolgallery ">
                        <div class="team-block-info-3 "></div>
                        <img src="../images/2567/students/01-mueang/02เมือง.png " loading="lazy " sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px " srcset="../images/2567/students/01-mueang/02เมือง-p-500.png
        500w, ../images/2567/students/01-mueang/02เมือง-p-800.png 800w, ../images/2567/students/01-mueang/02เมือง.png 1064w " alt=" " class="schoolgallery ">
                        <div class="team-block-info-3 "></div>
                    </div>
                </div>
                <div class="team-slide-wrapper-3 w-slide ">
                    <div class="team-block-3 ">
                        <img src="../images/2567/students/01-mueang/03เมือง.png " loading="lazy " sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px " srcset="../images/2567/students/01-mueang/03เมือง-p-500.png
        500w, ../images/2567/students/01-mueang/03เมือง-p-800.png 800w, ../images/2567/students/01-mueang/03เมือง.png 1064w " alt=" " class="schoolgallery ">
                        <img src="../images/2567/students/01-mueang/04เมือง.png " loading="lazy " sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px " srcset="../images/2567/students/01-mueang/04เมือง-p-500.png
        500w, ../images/2567/students/01-mueang/04เมือง-p-800.png 800w, ../images/2567/students/01-mueang/04เมือง.png 1064w " alt=" " class="schoolgallery ">
                        <div class="team-block-info-3 "></div>
                    </div>
                </div>
                <div class="team-slide-wrapper-3 w-slide ">
                    <div class="team-block-3 ">
                        <img src="../images/2567/students/01-mueang/05เมือง.png " loading="lazy " sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px " srcset="../images/2567/students/01-mueang/05เมือง-p-500.png
        500w, ../images/2567/students/01-mueang/05เมือง-p-800.png 800w, ../images/2567/students/01-mueang/05เมือง.png 1064w " alt=" " class="schoolgallery ">
                        <img src="../images/2567/students/01-mueang/06เมือง.png " loading="lazy " sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px " srcset="../images/2567/students/01-mueang/06เมือง-p-500.png
        500w, ../images/2567/students/01-mueang/06เมือง-p-800.png 800w, ../images/2567/students/01-mueang/06เมือง.png 1064w " alt=" " class="schoolgallery "></div>
                </div>
            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-left ">
                <div class="w-icon-slider-left "></div>
            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-right ">
                <div class="w-icon-slider-right "></div>
            </div>
            <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num "></div>
        </div>
    </div>
</section>