<section class="keyscool"><img src="../images/2567/67team_banner_10.png" loading="lazy" width="960" sizes="100vw" alt="" srcset="../images/2567/67team_banner_10-p-500.png 500w, ../images/2567/67team_banner_10-p-800.png 800w, ../images/2567/67team_banner_10-p-1080.png 1080w, ../images/2567/67team_banner_10-p-1600.png 1600w, ../images/2567/67team_banner_10.png 1920w"
        class="keyschoolimage"></section>
<section class="schoolbrand" style="display: none;">
    <div class="schoolcontainter">
        <div class="detailschoolmain">
            <h1 class="school_keybrand">InsTAN</h1>
            <p class="school-brand-keytextdetail">ข้าวแต๋นไบท์ กินง่ายขนาดพอดีคำ<br>
                อร่อยเกินต้าน ยกระดับขนมและของฝากให้โดนใจ</p>

        </div>
    </div>
</section>
<section class="schoolteams">
    <div class="school-container""><img src="../images/pppy2/pppy_book.png" loading="lazy" alt="" class="schoolimage3"  style="margin-top:-50px; width:150px;display: none;">
        
        <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ รุ่นที่ 2</h2>
        <p class="school-keytext">ทีมอำเภอแม่จริม</p>
        <div  class="school-headertext" style="color: #837670;">รร.แม่จริม </div>
        <div class="schoolstudentgrid4">
            <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d8d-f265d5ba" class="schoolstudentblock"><img src="../images/2567/students/10-maecharim/ปวาณิศา.png" loading="lazy" alt="น.ส. ปวาณิศา แสงน้อย" class="school-student">
                <div class="schoolstudent-name">น.ส. ปวาณิศา แสงน้อย</div>
                <div class="schoolname-subtext-student">รร. แม่จริม</div>
            </div>
            <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d98-f265d5ba" class="schoolstudentblock"><img src="../images/2567/students/10-maecharim/งามเนตรรวี.png" loading="lazy" alt="น.ส. งามเนตรรวี แสงคํา" class="school-student">
                <div class="schoolstudent-name">น.ส. งามเนตรรวี แสงคํา</div>
                <div class="schoolname-subtext-student" style="color: #837670;">รร. แม่จริม</div>
            </div>
            <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d98-f265d5ba" class="schoolstudentblock"><img src="../images/2567/students/10-maecharim/ณิชารีย์.png" loading="lazy" alt="น.ส. ณิชารีย์ จันทร์เดช" class="school-student">
                <div class="schoolstudent-name">น.ส. ณิชารีย์ จันทร์เดช</div>
                <div class="schoolname-subtext-student" style="color: #837670;">รร. แม่จริม</div>
            </div>
            <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5db6-f265d5ba" class="schoolstudentblock"><img src="../images/2567/students/10-maecharim/ธิติมา.png" loading="lazy" alt="น.ส. ธิติมา ไชยศิริ" class="school-student">
                <div class="schoolstudent-name">น.ส. ธิติมา ไชยศิริ</div>
                <div class="schoolname-subtext-student" style="color: #837670;">รร. แม่จริม</div>
            </div>
            <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5dac-f265d5ba" class="schoolstudentblock"><img src="../images/2567/students/10-maecharim/ประสิตา.png" loading="lazy" alt="น.ส. ประสิตา เรื่องกิจจา" class="school-student">
                <div class="schoolstudent-name">น.ส. ประสิตา เรื่องกิจจา</div>
                <div class="schoolname-subtext-student" style="color: #837670;">รร. แม่จริม</div>
            </div>
        </div>
    </div>
</section>
<section class="schoolphotovdos">
    <div class="container-_index_vdo">
        <div class="w-layout-blockcontainer container-6 w-container">
            <a href="#" class="schoolbutton-active w-button">ทั้งหมด</a>
            <a href="#" class="school_button w-button">แกลลอรี</a>
            <a href="#" class="school_button w-button">วิดีโอแกลลอรี</a>
        </div>
        <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="w-slider-mask">
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3"><img src="../images/2567/students/10-maecharim/01แม่จริม.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/10-maecharim/01แม่จริม-p-500.png 500w, ../images/2567/students/10-maecharim/01แม่จริม-p-800.png 800w, ../images/2567/students/10-maecharim/01แม่จริม.png 1064w" alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                    <div class="team-block-3"> <img src="../images/2567/students/10-maecharim/02แม่จริม.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/10-maecharim/02แม่จริม-p-500.png 500w, ../images/2567/students/10-maecharim/02แม่จริม-p-800.png 800w, ../images/2567/students/10-maecharim/02แม่จริม.png 1064w"
                        alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                </div>
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3">
                        <img src="../images/2567/students/10-maecharim/03แม่จริม.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/10-maecharim/03แม่จริม-p-500.png 500w, ../images/2567/students/10-maecharim/03แม่จริม-p-800.png 800w, ../images/2567/students/10-maecharim/03แม่จริม.png 1064w"
                            alt="" class="schoolgallery">
                            <img src="../images/2567/students/10-maecharim/04แม่จริม.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/10-maecharim/04แม่จริม-p-500.png 500w, ../images/04แม่จริม-p-800.png 800w, ../images/2567/students/10-maecharim/04แม่จริม.png 1064w"
                            alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                </div>
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3">
                        <img src="../images/2567/students/10-maecharim/04แม่จริม.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/10-maecharim/04แม่จริม-p-500.png 500w, ../images/2567/students/10-maecharim/04แม่จริม-p-800.png 800w, ../images/2567/students/10-maecharim/04แม่จริม.png 1064w"
                            alt="" class="schoolgallery">
                            <img src="../images/2567/students/10-maecharim/04แม่จริม.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/10-maecharim/04แม่จริม-p-500.png 500w, ../images/04แม่จริม-p-800.png 800w, ../images/2567/students/10-maecharim/04แม่จริม.png 1064w"
                            alt="" class="schoolgallery"></div>
                </div>
            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num"></div>
        </div>
    </div>
</section>



