<section class="keyscool"><img src="../images/2567/banners/67team_banner_6.png" loading="lazy" width="960" sizes="100vw" alt="" srcset="../images/2567/banners/67team_banner_6-p-500.png 500w, ../images/2567/banners/_banner_6-p-800.png 800w, ../images/2567/banners/67team_banner_6-p-1080.png 1080w, ../images/2567/banners/_banner_6-p-1600.png 1600w, ../images/2567/banners/67team_banner_6.png 1920w"
        class="keyschoolimage"></section>



<section class="schoolteams5">
    <div class="school-container5">
        <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ ปี 2567</h2>
        <p class="school-keytext">ทีมอำเภอสองแคว</p>
        <div class="school-headertext" style="color: #837670;">รร. ไตรเขตประชาสามัคคี รัชมัคลาภิเษก</div>
        <div class="schoolstudentgrid5">


            <!-- สองแคว -->
            <div class="schoolstudentblock5">
                <img src="../images/2567/students/06-song-kwae/วิมลภา.png" loading="lazy" alt="น.ส. วิมลภา ไชยรัชชานนท์" class="school-student5">
                <div class="schoolstudent-name5">น.ส. วิมลภา ไชยรัชชานนท์</div>
                <div class="schoolname-subtext-student5">รร. ไตรเขตประชาสามัคคี<br>รัชมังคลาภิเษก</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/2567/students/06-song-kwae/วิลาวัณย์.png" loading="lazy" alt="น.ส. วิลาวัณย์ ผิวบาง" class="school-student5">
                <div class="schoolstudent-name5">น.ส. วิลาวัณย์ ผิวบาง</div>
                <div class="schoolname-subtext-student5">รร. ไตรเขตประชาสามัคคี<br>รัชมังคลาภิเษก</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/2567/students/06-song-kwae/ปริญญาศิริ.png" loading="lazy" alt="น.ส. ปริญญาศิริ โยเฮือง" class="school-student5">
                <div class="schoolstudent-name5">น.ส. ปริญญาศิริ โยเฮือง</div>
                <div class="schoolname-subtext-student5">รร. ไตรเขตประชาสามัคคี<br>รัชมังคลาภิเษก</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/2567/students/06-song-kwae/ณัฐธิดา.png" loading="lazy" alt="น.ส. ณัฐธิดา แซ่พ่าน" class="school-student5">
                <div class="schoolstudent-name5">น.ส. ณัฐธิดา แซ่พ่าน</div>
                <div class="schoolname-subtext-student5">รร. ไตรเขตประชาสามัคคี<br>รัชมังคลาภิเษก</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/2567/students/06-song-kwae/ชุติมณทน์.png" loading="lazy" alt="น.ส. ชุติมณทน์ นันตา" class="school-student5">
                <div class="schoolstudent-name5">น.ส. ชุติมณทน์ นันตา</div>
                <div class="schoolname-subtext-student5">รร. ไตรเขตประชาสามัคคี<br>รัชมังคลาภิเษก</div>
            </div>




        </div>
    </div>
</section>









<section class="schoolphotovdos" style="background-color: #efecea;">
    <div class="container-index_vdo">

        <div class="w-layout-blockcontainer container-6 w-container">
            <a href="#" class="nag-button w-button active">ทั้งหมด</a>
            <a href="#" class="nag-button w-button">แกลลอรี</a>
            <a href="#" class="nag-button w-button">วิดีโอแกลลอรี</a>
        </div>
        <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="w-slider-mask">
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3"><img src="../images/2567/students/06-song-kwae/01สองแคว.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/06-song-kwae/01สองแคว-p-500.png 500w, ../images/2567/students/06-song-kwae/01สองแคว-p-800.png 800w, ../images/2567/students/06-song-kwae/01สองแคว.png 1064w"
                            alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                    <div class="team-block-3"><img src="../images/2567/students/06-song-kwae/02สองแคว.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/06-song-kwae/02สองแคว-p-500.png 500w, ../images/2567/students/06-song-kwae/02สองแคว-p-800.png 800w, ../images/2567/students/06-song-kwae/02สองแคว.png 1064w"
                            alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                </div>
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3">
                        <img src="../images/2567/students/06-song-kwae/03สองแคว.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/06-song-kwae/03สองแคว-p-500.png 500w, ../images/2567/students/06-song-kwae/03สองแคว-p-800.png 800w, ../images/2567/students/06-song-kwae/03สองแคว.png 1064w"
                            alt="" class="schoolgallery">
                        <img src="../images/2567/students/06-song-kwae/04สองแคว.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/06-song-kwae/04สองแคว-p-500.png 500w, ../images/04สองแคว-p-800.png 800w, ../images/2567/students/06-song-kwae/04สองแคว.png 1064w"
                            alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                </div>
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3">
                        <img src="../images/2567/students/06-song-kwae/05สองแคว.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/06-song-kwae/05สองแคว-p-500.png 500w, ../images/2567/students/06-song-kwae/05สองแคว-p-800.png 800w, ../images/2567/students/06-song-kwae/05สองแคว.png 1064w"
                            alt="" class="schoolgallery">
                        <img src="../images/2567/students/06-song-kwae/06สองแคว.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/06-song-kwae/06สองแคว-p-500.png 500w, ../images/2567/students/06-song-kwae/06สองแคว-p-800.png 800w, ../images/2567/students/06-song-kwae/06สองแคว.png 1064w"
                            alt="" class="schoolgallery"></div>
                </div>
            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num"></div>
        </div>
    </div>
</section>