<section class="banner_slider">
    <div data-delay="4000" data-animation="over" class="banner_slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="true" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
            {arraySlide}
        </div>
        <div class="left-arrow w-slider-arrow-left">
            <div class="icon w-icon-slider-left"></div>
        </div>
        <div class="right-arrow w-slider-arrow-right">
            <div class="icon-2 w-icon-slider-right"></div>
        </div>
        <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
    </div>
</section>

<section class="vdo_gallery">
    <div class="container-index_vdo">
        <a href="{url_main}/vdo-gallery" class="nag-buttontop w-button">
            วิดีโอแกลเลอรี
        </a>
        <div data-delay="4000" data-animation="slide" class="slider-3 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="mask-3 w-slider-mask">

                {arraySlideVdo}

            </div>
            <div class="left-arrow-2 w-slider-arrow-left">
                <div class="icon-6 w-icon-slider-left" style="width:15px"></div>
            </div>
            <div class="right-arrow-3 w-slider-arrow-right">
                <div class="icon-7 w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-3 w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
</section>


<section class="pppy_all_camps">
    <div class="container">
        <div class="pppy_map_section w-row">
            <div class="coldrop w-col w-col-6">
                <div class="w-layout-blockcontainer container-19 w-container">

                    <!-- Logo -->
                    <img src="images/logo_pppy_camplogo.png" loading="lazy" sizes="(max-width: 1439px) 20px, 1vw" srcset="images/logo_pppy_camplogo-p-500.png 500w, images/logo_pppy_camplogo.png 738w" alt="" class="pppycamp_1" style="width: 100%;">

                    <!-- Year Dropdown -->
                    <div data-hover="false" data-delay="0" class="dropdown_province w-dropdown" style="margin-bottom:0;">
                        <div class="drp_campep w-dropdown-toggle" id="w-dropdown-toggle-3" aria-controls="w-dropdown-list-3" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                            <div class="w-icon-dropdown-toggle" aria-hidden="true"></div>
                            <div class="drp_camp_text" id="drp_camp_text_model">รุ่นที่ 2567</div>
                        </div>
                        <nav class="drp_campyep w-dropdown-list" id="w-dropdown-list-3" aria-labelledby="w-dropdown-toggle-3">
                            <a href="#" id="year2567" class="drp_campyep_list w-dropdown-link" onclick="chooseYear(2567)" tabindex="0">2567</a>
                            <a href="#" id="year2566" class="drp_campyep_list w-dropdown-link" onclick="chooseYear(2566)" tabindex="0">2566</a>
                        </nav>
                    </div>

                    <!-- Province Dropdown -->
                    <div data-hover="false" data-delay="0" class="dropdown_province w-dropdown" style="margin-bottom:0;">
                        <div class="drp_campep w-dropdown-toggle" id="w-dropdown-toggle-4" aria-controls="listProvince" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                            <div class="w-icon-dropdown-toggle" aria-hidden="true"></div>
                            <div class="drp_camp_text" id="drp_camp_text_province">รายชื่อจังหวัด อำเภอ</div>
                        </div>
                        <nav class="drp_campyep w-dropdown-list" id="listProvince" aria-labelledby="w-dropdown-toggle-4">
                            <!-- Districts will be dynamically loaded here -->
                        </nav>
                    </div>

                    <!-- Alumni Directory Button -->
                    <a href="https://pppy.playdigital.co.th/alumni-directory" class="btn_grad_pppy w-button" style="margin-top: 1px;">ทำเนียบรุ่นศิษย์เก่า เพาะพันธุ์ปัญญาแคมป์</a>
                </div>
            </div>

            <!-- Map Section -->
            <div class="colmap w-col w-col-6">
                <div class="align-items-center">
                    <address id="pppy_mapblock" class="pppy_mapblock">
                        <img src="images/2567/map-nan3.png" width="390" height="100%" alt="แผนที่" id="pppy-map" class="pppy_map">
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function chooseYear(year) {
        const districts = [{
            name: "ทีมอำเภอเมือง",
            link: "https://pppy.playdigital.co.th/schools/mueang-nplant"
        }, {
            name: "ทีมอำเภอท่าวังผา",
            link: "https://pppy.playdigital.co.th/schools/thawungpa-spakaitee"
        }, {
            name: "ทีมอำเภอเวียงสา",
            link: "https://pppy.playdigital.co.th/schools/weangsa-puengpiknan"
        }, {
            name: "ทีมอำเภอบ่อเกลือ",
            link: "https://pppy.playdigital.co.th/schools/bokluea-sanstyle"
        }, {
            name: "ทีมอำเภอภูเพียง",
            link: "https://pppy.playdigital.co.th/schools/phuphiang-freshhearb"
        }, {
            name: "ทีมอำเภอสองแคว",
            link: "https://pppy.playdigital.co.th/schools/songkwae-krafturai"
        }, {
            name: "ทีมอำเภอนาน้อย",
            link: "https://pppy.playdigital.co.th/schools/nanoin-newweb"
        }, {
            name: "ทีมอำเภอนาหมื่น",
            link: "https://pppy.playdigital.co.th/schools/nahmuen-bun"
        }, {
            name: "ทีมอำเภอปัว",
            link: "https://pppy.playdigital.co.th/schools/pua-supawit"
        }, {
            name: "ทีมอำเภอแม่จริม",
            link: "https://pppy.playdigital.co.th/schools/maejrim-uniform"
        }];

        let sortedDistricts;
        let mapImage;
        if (year === 2567) {
            sortedDistricts = [{
                name: "ทีมอำเภอเมือง",
                link: "https://pppy.playdigital.co.th/schools/mueang-nplant"
            }, {
                name: "ทีมอำเภอท่าวังผา",
                link: "https://pppy.playdigital.co.th/schools/thawungpa-spakaitee"
            }, {
                name: "ทีมอำเภอเวียงสา",
                link: "https://pppy.playdigital.co.th/schools/weangsa-puengpiknan"
            }, {
                name: "ทีมอำเภอบ่อเกลือ",
                link: "https://pppy.playdigital.co.th/schools/bokluea-sanstyle"
            }, {
                name: "ทีมอำเภอภูเพียง",
                link: "https://pppy.playdigital.co.th/schools/phuphiang-freshhearb"
            }, {
                name: "ทีมอำเภอสองแคว",
                link: "https://pppy.playdigital.co.th/schools/phuphiang-freshhearb"
            }, {
                name: "ทีมอำเภอนาน้อย",
                link: "https://pppy.playdigital.co.th/schools/songkwae-krafturai"
            }, {
                name: "ทีมอำเภอนาหมื่น",
                link: "https://pppy.playdigital.co.th/schools/nahmuen-bun"
            }, {
                name: "ทีมอำเภอปัว",
                link: "https://pppy.playdigital.co.th/schools/pua-supawit"
            }, {
                name: "ทีมอำเภอแม่จริม",
                link: "https://pppy.playdigital.co.th/schools/maejrim-uniform"
            }];
            mapImage = 'images/2567/map-nan3.png'; // Image for year 2567
        } else {
            sortedDistricts = districts;
            mapImage = 'images/map-nan2.png'; // Image for year 2566
        }

        // Update dropdown list with sorted districts
        let listHtml = sortedDistricts.map((district, index) =>
            `<a href="${district.link}" id="district${index+1}" class="drp_province_list w-dropdown-link" onclick="chooseDistrict('${district.name}')" tabindex="0">
                ${district.name}
                <img src="images/arrow-icon.png" alt="Arrow" class="district-arrow">
            </a>`
        ).join('');

        document.getElementById('listProvince').innerHTML = listHtml;

        // Update selected year text
        document.getElementById('drp_camp_text_model').innerText = `รุ่นที่ ${year}`;

        // Update map image
        document.getElementById('pppy-map').src = mapImage;
    }

    function chooseDistrict(district) {
        // Update map image based on selected district
        const districtImages = {
            "ทีมอำเภอเมือง": "images/2567/teams-map/team_เมือง-map.png",
            "ทีมอำเภอท่าวังผา": "images/2567/teams-map/team_ท่าวังผา-map.png",
            "ทีมอำเภอเวียงสา": "images/2567/teams-map/team_เวียงสา-map.png",
            "ทีมอำเภอบ่อเกลือ": "images/2567/teams-map/team_บ่อเกลือ-map.png",
            "ทีมอำเภอภูเพียง": "images/2567/teams-map/team_ภูเพียง-map.png",
            "ทีมอำเภอสองแคว": "images/2567/teams-map/team_สองแคว-map.png",
            "ทีมอำเภอนาน้อย": "images/2567/teams-map/team_นาน้อย-map.png",
            "ทีมอำเภอนาหมื่น": "images/2567/teams-map/team_นาหมื่น-map.png",
            "ทีมอำเภอปัว": "images/2567/teams-map/team_ปัว-map.png",
            "ทีมอำเภอแม่จริม": "images/2567/teams-map/team_แม่จริม-map.png"
        };

        const mapImage = districtImages[district] || 'images/map-nan2.png';
        document.getElementById('pppy-map').src = mapImage;

        // Update province text
        document.getElementById('drp_camp_text_province').innerText = district;
    }

    // Default to year 2567 on page load
    chooseYear(2567);
</script>

<style>
    .district-arrow {
        width: 15px;
        height: auto;
        margin-left: 10px;
        vertical-align: middle;
    }
</style>






<section class="partner-pppy">
    <center><a href="{url_main}/partners" class="nag-buttontop w-button" style="width: auto;margin-top:2%;">พันธมิตรร่วมเพาะพันธุ์ปัญญา</a></center>
    <div data-delay="4000" data-animation="slide" class="partnersliderwrapper w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="12" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
            <div class="partnerslidewrapper w-slide">
                <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                <h2 class="partnersubkey">“แคมป์กล้าเรียน”</h2>
                <div class="w-layout-hflex flex-block-2">
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/pimjai.png" width="100%" height="100%" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">ศ.ดร.พิมพ์ใจ ใจเย็น</h3>
                            <p class="partnersubtext">อธิการบดี<br>สถาบันวิทยสิริเมธี (VISTEC)
                                <br>&nbsp;</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" width="100%" height="100%" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3040342015fefc8ab435",
                                                    "origFileName": "popup_1_พิมพ์ใจ.png",
                                                    "fileName": "popup_1_พิมพ์ใจ.png",
                                                    "fileSize": 270941,
                                                    "height": 1600,
                                                    "url": "images/popup_1_พิมพ์ใจ.png",
                                                    "width": 800,
                                                    "caption": "ศ.ดร.พิมพ์ใจ ใจเย็น",
                                                    "type": "image"
                                                }],
                                                "group": "วิทยากร"
                                            }
                                        </script>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/nut.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณณัฐวุฒิ พึงเจริญพงศ์</h3>
                            <p class="partnersubtext">CEO และผู้ก่อตั้ง Ookbee<br>ผู้จัดการกองทุน 500 tuktuks<br>CEO SIX (crypto)</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3046d51e49055aa272d5",
                                                    "origFileName": "popup_2_ณัฐวุฒิ.png",
                                                    "fileName": "popup_2_ณัฐวุฒิ.png",
                                                    "fileSize": 237119,
                                                    "height": 1391,
                                                    "url": "images/popup_2_ณัฐวุฒิ.png",
                                                    "width": 800,
                                                    "caption": "คุณณัฐวุฒิ พึงเจริญพงศ์",
                                                    "type": "image"
                                                }],
                                                "group": "วิทยากร"
                                            }
                                        </script>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/woranun.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณวรกันต์ ธนโชติวรพงศ์</h3>
                            <p class="partnersubtext">ร่วมก่อตั้ง บ.มอร์ฟู้ดส์ อินโนเทค จำกัด <br>ผลิตภัณฑ์โปรตีนจากพืช<br>แบรนด์ More Meat</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a30410a0477eb5c8e45a3",
                                                    "origFileName": "popup_3_วรกันต์.png",
                                                    "fileName": "popup_3_วรกันต์.png",
                                                    "fileSize": 250697,
                                                    "height": 1395,
                                                    "url": "images/popup_3_วรกันต์.png",
                                                    "width": 800,
                                                    "caption": "คุณวรกันต์ ธนโชติวรพงศ์",
                                                    "type": "image"
                                                }],
                                                "group": "วิทยากร"
                                            }
                                        </script>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/manoon.png" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="partnerblockinfo">
                            <h3 class="partnername">คุณมนูญ ทนะวัง</h3>
                            <p class="partnersubtext">เจ้าของ <br>โกโก้ วัลเล่ย์ รีสอร์ท และคาเฟ่ <br>อ.ปัว จังหวัดน่าน</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3041b14e72e8d4f0ca14",
                                                    "origFileName": "popup_4_มนูญ.png",
                                                    "fileName": "popup_4_มนูญ.png",
                                                    "fileSize": 259364,
                                                    "height": 1359,
                                                    "url": "images/popup_4_มนูญ.png",
                                                    "width": 800,
                                                    "caption": "คุณมนูญ ทนะวัง",
                                                    "type": "image"
                                                }],
                                                "group": "วิทยากร"
                                            }
                                        </script>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-slide-wrapper-2 w-slide">
                <p class="centered-subheading-3">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                <h2 class="partnersubkey">“แคมป์กล้าลุย”</h2>
                <div class="w-layout-hflex flex-block-2">
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/darin.png" width="100%" height="100%" loading="lazy" alt="คุณดาริน สุทธพงษ์" class="partnerphoto"></div>
                        <div class="team-block-info-2">
                            <h3 class="partnername">คุณดาริน สุทธพงษ์</h3>
                            <p class="partnersubtext">CEO Hato Hub</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" height="100%" alt="ประวัติ">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a30411d65ace284615877",
                                                    "origFileName": "popup_5_ดาริน.png",
                                                    "fileName": "popup_5_ดาริน.png",
                                                    "fileSize": 222311,
                                                    "height": 1202,
                                                    "url": "images/popup_5_ดาริน.png",
                                                    "width": 800,
                                                    "caption": "คุณดาริน สุทธพงษ์",
                                                    "type": "image"
                                                }],
                                                "group": "วิทยากร"
                                            }
                                        </script>
                                    </a>
                                </li>
                                <li class="list-item-2">
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-vdo.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "url": "https://www.youtube.com/watch?v=ybI52-kdpzM",
                                                    "originalUrl": "https://www.youtube.com/watch?v=ybI52-kdpzM",
                                                    "width": 940,
                                                    "height": 528,
                                                    "thumbnailUrl": "https://i.ytimg.com/vi/ybI52-kdpzM/hqdefault.jpg",
                                                    "html": "<iframe width=\"940\" height=\"528\" src=\"https://www.youtube.com/embed/ybI52-kdpzM?si=uuJN54mS7INMWCyO&rel=0\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\" allowfullscreen></iframe>",
                                                    "type": "video"
                                                }],
                                                "group": "คุณดาริน สุทธพงษ์"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/siriwat.png" width="100%" height="100%" loading="lazy" alt="คุณศิริวัฒน์ วรเวทวุฒิคุณ" class="partnerphoto"></div>
                        <div class="team-block-info-2">
                            <h3 class="partnername">คุณศิริวัฒน์ วรเวทวุฒิคุณ</h3>
                            <p class="partnersubtext">เจ้าของธุรกิจศิริวัฒน์แซนด์วิช</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="ประวัติ">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3042f37897084a263c40",
                                                    "origFileName": "popup_6_ศิริวัฒน์.png",
                                                    "fileName": "popup_6_ศิริวัฒน์.png",
                                                    "fileSize": 182213,
                                                    "height": 1221,
                                                    "url": "images/popup_6_ศิริวัฒน์.png",
                                                    "width": 800,
                                                    "caption": "คุณศิริวัฒน์ วรเวทวุฒิคุณ",
                                                    "type": "image"
                                                }],
                                                "group": "วิทยากร"
                                            }
                                        </script>
                                    </a>
                                </li>
                                <li class="list-item-2">
                                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-vdo.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "url": "https://www.youtube.com/watch?v=lVUP3VQFgRQ",
                                                    "originalUrl": "https://www.youtube.com/watch?v=lVUP3VQFgRQ",
                                                    "width": 940,
                                                    "height": 528,
                                                    "thumbnailUrl": "http://i.ytimg.com/vi/lVUP3VQFgRQ/hqdefault.jpg",
                                                    "html": "<iframe width=\"940\" height=\"528\" src=\"https://www.youtube.com/embed/lVUP3VQFgRQ?si=CimcUWLtIAWj-4E2&rel=0\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\" allowfullscreen></iframe>",
                                                    "type": "video"
                                                }],
                                                "group": "คุณศิริวัฒน์ วรเวทวุฒิคุณ"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-slide-wrapper-2 w-slide">
                <p class="centered-subheading-3">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
                <h2 class="partnersubkey">“แคมป์กล้าก้าว”</h2>
                <div class="w-layout-hflex flex-block-2">
                    <div class="team-block-2">
                        <div class="partner-card"><img src="images/peanut.png" width="100%" height="100%" loading="lazy" alt="" class="partnerphoto"></div>
                        <div class="team-block-info-2">
                            <h3 class="partnername">คุณอารีย์ เพ็ชรรัตน์</h3>
                            <p class="partnersubtext">กรรมการผู้จัดการ<br>บริษัท บ้านถั่วลิสง จำกัด<br>‍</p>
                            <ul role="list" class="list w-list-unstyled">
                                <li>
                                    <a href="#" class="w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                                        <script type="application/json" class="w-json">
                                            {
                                                "items": [{
                                                    "_id": "651a3041b575d1272c0164e5",
                                                    "origFileName": "popup_7_อารีย์.png",
                                                    "fileName": "popup_7_อารีย์.png",
                                                    "fileSize": 235138,
                                                    "height": 1417,
                                                    "url": "images/popup_7_อารีย์.png",
                                                    "width": 800,
                                                    "caption": "คุณอารีย์ เพ็ชรรัตน์",
                                                    "type": "image"
                                                }],
                                                "group": "วิทยากร"
                                            }
                                        </script>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-slider-arrow-2 w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
        </div>
        <div class="team-slider-arrow-2 w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
        </div>
        <div class="team-slider-nav-2 w-slider-nav w-slider-nav-invert w-round"></div>
    </div>
</section>


<section class="newsandmedia">

    <div class="container-newsandmedia">
        <a href="{url_main}/news-media" class="nag-buttontop w-button">ข่าวสารและมีเดีย</a>
        <div class="w-layout-blockcontainer container-6 w-container">
            {arrayNewsCategory}
        </div>
        <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="12" data-duration="500" data-infinite="true">
            <div class="w-slider-mask">
                <!-- START BLOCK : LISTNEWS -->
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="mediablockcard">
                        <a href='{url_main}/news/{id}'>
                            <img src="{img}" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw,
               (max-width: 1439px) 28vw, 282px" srcset="{img} 500w, {img} 800w, {img} 1080w" alt="" class="mediaphotocard">
                        </a>
                        <div class="mediablockinfo">
                            <p class="mediatypedate"><strong>{titlecat}</strong> | {date}</p>
                            <h3 class="mediaheadinfo">{title}</h3>
                            <p class="mediasubdetail">{desc}</p>
                            <a href="{url_main}/news/{id}" class="mediabuttonread w-button">อ่านต่อ</a>
                        </div>
                    </div>
                </div>
                <!-- END BLOCK : LISTNEWS -->

            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="mediaslidnav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>

</section>