<section class="banner_slider">
    <div data-delay="4000" data-animation="over" class="banner_slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="true" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
            {arraySlide}
        </div>
        <div class="left-arrow w-slider-arrow-left">
            <div class="icon w-icon-slider-left"></div>
        </div>
        <div class="right-arrow w-slider-arrow-right">
            <div class="icon-2 w-icon-slider-right"></div>
        </div>
     <div class="slide-nav 
     w-slider-nav 
     w-slider-nav-invert 
     w-round main-slidedot" id="smartdot"></div>   
    </div>
    
    
</section>

<section class="vdo_gallery" style="padding-top: 50px;">
    <div class="container-index_vdo">
        <a href="{url_main}/vdo-gallery" class="nag-buttontop w-button">
            วิดีโอแกลเลอรี
        </a>
        <div data-delay="4000" data-animation="slide" class="slider-3 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="mask-3 w-slider-mask">

                {arraySlideVdo}

            </div>
            <div class="left-arrow-2 w-slider-arrow-left">
                <div class="icon-6 w-icon-slider-left" style="width:15px"></div>
            </div>
            <div class="right-arrow-3 w-slider-arrow-right">
                <div class="icon-7 w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-3 w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
</section>
<section class="pppy_all_camps">
    <div class="container">
        <div class="pppy_map_section w-row">
            <!-- Left Column: Dropdowns for Year, District, and School -->
            <div class="coldrop w-col w-col-6">
                <div class="w-layout-blockcontainer container-19 w-container">

                    <!-- Logo Image -->
                    <img src="images/logo_pppy_camplogo.png" width="100%" loading="lazy" alt="เพาะพันธุ์ปัญญาแคมป์">

                    <!-- Project Details Button -->
                    <a href="{url_main}/pohpunpanya-camp" class="btn_pppy_map w-button">รายละเอียดโครงการ</a>

                    <!-- Dropdown for Year Selection -->
                    <div data-hover="false" data-delay="0" class="dropdown_province w-dropdown" style="margin-bottom:0;" id="yearDropdown">
                        <div class="drp_campep w-dropdown-toggle">
                            <div class="w-icon-dropdown-toggle"></div>
                            <div class="drp_camp_text" id="drp_camp_text_model">รุ่นปี</div>
                        </div>
                        <nav class="drp_campyep w-dropdown-list" id="yearDropdownList">
                            <!-- Options will be dynamically populated here -->
                        </nav>
                    </div>

                    <!-- Dropdown for District Selection (Initially Hidden) -->
                    <div data-hover="false" data-delay="0" class="dropdown_province w-dropdown" style="margin-bottom:0; display:none;" id="districtDropdown">
                        <div class="drp_campep w-dropdown-toggle">
                            <div class="w-icon-dropdown-toggle"></div>
                            <div class="drp_camp_text" id="drp_camp_text_province">เลือกทีมอำเภอ</div>
                        </div>
                        <nav class="drp_campyep w-dropdown-list" id="listProvince">
                            <!-- Options will be dynamically populated based on the selected year -->
                        </nav>
                    </div>

                    <!-- Dropdown for School Selection (Initially Hidden) -->
                    <div data-hover="false" data-delay="0" class="dropdown_schoollist w-dropdown" style="margin-bottom:0; display:none;" id="schoolDropdown">
                        <div class="drp_camp w-dropdown-toggle">
                            <div class="w-icon-dropdown-toggle"></div>
                            <div class="drp_camp_text" id="drp_camp_text_school">เลือกโรงเรียน</div>
                        </div>
                        <nav class="drp_campschool w-dropdown-list" id="listSchool">
                            <!-- School options will be dynamically populated based on the selected district -->
                        </nav>
                    </div>

                    <!-- Alumni Directory Button -->
                    <a href="{url_main}/alumni-directory" class="btn_grad_pppy w-button" style="margin-top: 1px;">ทำเนียบรุ่นศิษย์เก่า เพาะพันธุ์ปัญญาแคมป์</a>
                </div>
            </div>

            <!-- Right Column: Map Display -->
            <div class="colmap w-col w-col-6">
                <img src="{url_main}/upload/2567/map-nan3.webp" width="100%" alt="แผนที่โครงการเพาะพันธุ์ปัญญาแคมป์" id="pppy-map" class="pppy_map">
            </div>
        </div>
    </div>
</section>
<section class="partner-pppy" style="background-color: white;">
    <center><a href="{url_main}/partners" class="nag-buttontop w-button" style="width: auto;margin-top:2%;color:#837670;">พันธมิตรร่วมเพาะพันธุ์ปัญญา</a></center>



    <div class="partnercontainer show">
        <div class="w-layout-blockcontainer partnergridlist w-container">



            <br><br>
            <h2 class="school-headertext">พันธมิตรร่วมเพาะพันธุ์ปัญญา : <span class="partnersTextinLine">วิทยากร</span> </h2>

            <br><br>
            <div class="grid-container">
                <!-- START BLOCK : ALN66 -->
                <div class="grid-item">
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox">
                        <img src="{photoALN}" loading="lazy" alt="{FullName}">
                            <script type="application/json" class="w-json">
                                {popJS}
                            
                            </script>
                        
                        
                    </a>
                </div>
                <!-- END BLOCK : ALN66 -->
                <div class="grid-item">
                    <a href="{main_url}/partners#lecturer" class="partnerlightbox w-inline-block">
                        <img src="{main_url}/images/icon-all.png" loading="lazy" alt="{FullName}">

                    </a>
                </div>
            </div>

            <br><br>
            <h2 class="school-headertext pro">พันธมิตรร่วมเพาะพันธุ์ปัญญา : <span class="partnersTextinLine">คณะกรรมการ</span></h2>
            <br><br>

            <div class="grid-container">
                <!-- START BLOCK : ALN67 -->
                <div class="grid-item">
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox">
                        <img src="{photoALN}" loading="lazy" alt="{FullName}">
                        <script type="application/json" class="w-json">
                            {popJS}
                        </script>
                    </a>
                </div>
                <!-- END BLOCK : ALN67 -->
                <div class="grid-item">
                    <a href="{main_url}/partners#committee" class="partnerlightbox w-inline-block">
                        <img src="{main_url}/images/icon-all.png" loading="lazy">

                    </a>
                </div>
            </div>

            <hr style="margin-top: 15px;margin-bottom: 15px;">

            <div class="grid-container-logo">
                <!-- START BLOCK : LOGOBRANDS -->
                <a href="{brandUrl}" class="flex-item-logo"><img src="upload/logo_brand/{brandImg}"></a>
                <!-- END BLOCK : LOGOBRANDS -->
            </div>




        </div>
    </div>




    <style>
.w-slider-mask{
}
.main-slidedot {
margin-top: 65px;
}




        .inpartners_h2 {
            margin-top: 50px;
            color: #96b759;
            text-shadow: #000000;
        }
        
        .partnersTextinLine {
            display: inline;
            color: #00953b;
        }
        
        .inpartners_h2_subtext {
            margin-top: -25px;
            color: #837670;
            font-size: 28pt;
        }
        
        .white_bg {
            background-color: white;
        }
        
        .buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            /* จัดกึ่งกลางในแนวนอน */
            gap: 2px;
            /* ปรับ gap ให้เป็น 2px */
            margin-bottom: 50px;
            align-content: center;
            padding: 10px;
            /* เพิ่ม padding เพื่อให้มีพื้นที่ภายใน */
            border-radius: 20px;
            /* ทำให้กรอบนอกเป็นมุมมน */
            background-color: #ffffff;
            /* สีพื้นกรอบนอก */
        }
        
        .button-link {
            display: inline-block;
            padding: 6px 12px;
            background-color: #ededed;
            color: #666666;
            text-decoration: none;
            border-radius: 20px;
            font-size: 15px;
            text-align: center;
            border: 1px solid #ededed;
        }
        
        .button-link:hover {
            background-color: #cac9c9;
        }
        
        .grid-container {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            /* Default for desktop */
            gap: 30px;
            /* Gap for both desktop and iPad */
            padding: 20px;
        }
        
        .grid-item {
            text-align: center;
        }
        
        .grid-item img {
            width: 100%;
            height: auto;
        }
        
        .grid-item p {
            font-size: 20px;
            margin-top: 10px;
        }
        
        .grid-container-logo {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            /* แถวละ 9 สำหรับ Desktop */
            gap: 30px;
            /* ระยะห่างระหว่างไอเท็ม */
            padding: 20px;
        }
        
        .grid-item-logo {
            text-align: center;
        }
        
        .grid-item-logo img {
            width: 100%;
            height: auto;
        }
        
        .grid-item-logo p {
            font-size: 20px;
            margin-top: 10px;
        }
        /* Responsive for Mobile */
        
        @media (max-width: 1080px) {
            .grid-container {
                grid-template-columns: repeat(3, 1fr);
                /* 2 items per row on mobile */
                gap: 20px;
                /* Gap for Mobile */
            }
        }
        
        @media (max-width: 768px) {
            .grid-container {
                grid-template-columns: repeat(2, 1fr);
                /* 2 items per row on mobile */
                gap: 20px;
                /* Gap for Mobile */
            }
            .grid-item p {
                font-size: 16px;
                /* Smaller font size for mobile */
                display: block;
                /* Keep description visible on mobile */
            }
            .grid-container-logo {
                grid-template-columns: repeat(4, 1fr);
                /* แถวละ 4 สำหรับมือถือ */
                gap: 20px;
                /* ระยะห่างระหว่างไอเท็มบนมือถือ */
            }
            .grid-item-logo p {
                font-size: 16px;
                /* ขนาดฟอนต์ที่เล็กลงบนมือถือ */
                display: block;
                /* แสดงข้อความบนมือถือ */
            }
        }
        
        .flex-container {
            margin: 50px 0px 80px 0px;
            display: flex;
            justify-content: center;
            /* จัดกึ่งกลาง */
            align-items: center;
            /* จัดกึ่งกลางแนวตั้ง (ถ้าจำเป็น) */
            flex-wrap: wrap;
            /* ถ้าบล็อกเยอะเกินไปให้ย้ายลงบรรทัดใหม่ */
            gap: 10px;
            /* ระยะห่างระหว่างบล็อก */
        }
        
        .flex-item {
            width: 100px;
            flex: 0 0 auto;
            /* ทำให้บล็อกมีขนาดคงที่ */
            text-align: center;
            /* จัดกึ่งกลางเนื้อหาภายในบล็อก */
        }
    </style>






</section>
<section class="newsandmedia">

    <div class="container-newsandmedia">
        <a href="{url_main}/news-media" class="nag-buttontop w-button">ข่าวสารและมีเดีย</a>
        <div class="w-layout-blockcontainer container-6 w-container">
            {arrayNewsCategory}
        </div>
        <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="12" data-duration="500" data-infinite="true">
            <div class="w-slider-mask">
                <!-- START BLOCK : LISTNEWS -->
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="mediablockcard">
                        <a href='{url_main}/news/{id}'>
                            <img src="{img}" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw,
               (max-width: 1439px) 28vw, 282px" srcset="{img} 500w, {img} 800w, {img} 1080w" alt="" class="mediaphotocard">
                        </a>
                        <div class="mediablockinfo">
                            <p class="mediatypedate"><strong>{titlecat}</strong> | {date}</p>
                            <h3 class="mediaheadinfo">{title}</h3>
                            <p class="mediasubdetail">{desc}</p>
                            <a href="{url_main}/news/{id}" class="mediabuttonread w-button">อ่านต่อ</a>
                        </div>
                    </div>
                </div>
                <!-- END BLOCK : LISTNEWS -->

            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="mediaslidnav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>

</section>



<script type="text/javascript">
    let currentYear = '2567'; // Set default year
    const districtData = {
        '2567': [{
            name: "ทีมอำเภอเมือง",
            link: "{main_url}/schools/mueang-nplant",
            map: "{main_url}/upload/2567/teams-map/team_เมือง-map.webp",
            schools: [{
                name: "รร.น่านคริสเตียนศึกษา",
                link: "{main_url}/schools/mueang-nplant",
                map: "{main_url}/upload/2567/teams-map/team_เมือง-map.webp"
            }, {
                name: "รร.สตรีศรีน่าน",
                link: "{main_url}/schools/mueang-nplant",
                map: "{main_url}/upload/2567/teams-map/team_เมือง-map.webp"
            }]
        }, {
            name: "ทีมอำเภอท่าวังผา",
            link: "{main_url}/schools/thawungpa-spakaitee",
            map: "{main_url}/upload/2567/teams-map/team_ท่าวังผา-map.webp",
            schools: [{
                name: "รร.เมืองยมวิทยาคาร",
                link: "{main_url}/schools/thawungpa-spakaitee",
                map: "{main_url}/upload/2567/teams-map/team_ท่าวังผา-map.webp"
            }, {
                name: "รร.หนองบัวพิทยาคม",
                link: "{main_url}/schools/thawungpa-spakaitee",
                map: "{main_url}/upload/2567/teams-map/team_ท่าวังผา-map.webp"
            }]
        }, {
            name: "ทีมอำเภอเวียงสา",
            link: "{main_url}/schools/weangsa-puengpiknan",
            map: "{main_url}/upload/2567/teams-map/team_เวียงสา-map.webp",
            schools: [{
                name: "รร.สาธุกิจประชาสรรค์ รัชมังคลาภิเษก",
                link: "{main_url}/schools/weangsa-puengpiknan",
                map: "{main_url}/upload/2567/teams-map/team_เวียงสา-map.webp"
            }, {
                name: "รร.สารทิศพิทยาคม",
                link: "{main_url}/schools/weangsa-puengpiknan",
                map: "{main_url}/upload/2567/teams-map/team_เวียงสา-map.webp"
            }]
        }, {
            name: "ทีมอำเภอบ่อเกลือ",
            link: "{main_url}/schools/bokluea-sanstyle",
            map: "{main_url}/upload/2567/teams-map/team_บ่อเกลือ-map.webp",
            schools: [{
                name: "รร.บ่อเกลือ",
                link: "{main_url}/schools/bokluea-sanstyle",
                map: "{main_url}/upload/2567/teams-map/team_บ่อเกลือ-map.webp"
            }]
        }, {
            name: "ทีมอำเภอภูเพียง",
            link: "{main_url}/schools/phuphiang-freshhearb",
            map: "{main_url}/upload/2567/teams-map/team_ภูเพียง-map.webp",
            schools: [{
                name: "รร.ภูเพียง",
                link: "{main_url}/schools/phuphiang-freshhearb",
                map: "{main_url}/upload/2567/teams-map/team_ภูเพียง-map.webp"
            }]
        }, {
            name: "ทีมอำเภอสองแคว",
            link: "{main_url}/schools/songkwae-krafturai",
            map: "{main_url}/upload/2567/teams-map/team_สองแคว-map.webp",
            schools: [{
                name: "รร.ไตรเขตประชาสามัคคี รัชมัคลาภิเษก",
                link: "{main_url}/schools/songkwae-krafturai"
            }]
        }, {
            name: "ทีมอำเภอนาน้อย",
            link: "{main_url}/schools/nanoi-thamtham",
            map: "{main_url}/upload/2567/teams-map/team_นาน้อย-map.webp",
            schools: [{
                name: "รร.นาน้อย",
                link: "{main_url}/schools/nanoi-thamtham",
                map: "{main_url}/upload/2567/teams-map/team_นาน้อย-map.webp"
            }]
        }, {
            name: "ทีมอำเภอนาหมื่น",
            link: "{main_url}/schools/namuen-sillfeed",
            map: "{main_url}/upload/2567/teams-map/team_นาหมื่น-map.webp",
            schools: [{
                name: "รร.นาหมื่นพิทยาคม",
                link: "{main_url}/schools/namuen-sillfeed",
                map: "{main_url}/upload/2567/teams-map/team_นาหมื่น-map.webp"
            }]
        }, {
            name: "ทีมอำเภอปัว",
            link: "{main_url}/schools/pua-korkwan",
            map: "{main_url}/upload/2567/teams-map/team_ปัว-map.webp",
            schools: [{
                name: "รร.มัธยมป่ากลาง",
                link: "{main_url}/schools/pua-korkwan",
                map: "{main_url}/upload/2567/teams-map/team_ปัว-map.webp"
            }]
        }, {
            name: "ทีมอำเภอแม่จริม",
            link: "{main_url}/schools/maecharim-instan",
            map: "{main_url}/upload/2567/teams-map/team_แม่จริม-map.webp",
            schools: [{
                name: "รร.แม่จริม",
                link: "{main_url}/schools/maecharim-instan",
                map: "{main_url}/upload/2567/teams-map/team_แม่จริม-map.webp"
            }]
        }],
        '2566': [{
            name: "ทีมอำเภอเชียงกลาง",
            link: "#",
            map: "{main_url}/upload/2566/teams-map/team-น้ำพริกสามช่า-มองเดอพี-map.webp",
            schools: [{
                name: "รร.เชียงกลางประชาพัฒนา",
                link: "{main_url}/schools/chiangklang-prachapattana-school-numprik-samza",
                map: "{main_url}/upload/2566/teams-map/team-น้ำพริกสามซ่า-map.webp"
            }, {
                name: "รร.พระธาตุพิทยาคม",
                link: "{main_url}/schools/pratatpittayakhom-school-mongdee-phee",
                map: "{main_url}/upload/2566/teams-map/team-มองเดอพี-map.webp"
            }]
        }, {
            name: "ทีมอำเภอท่าวังผา",
            link: "{main_url}/schools/thawangphapittayakhom-school-kado",
            map: "{main_url}/upload/2566/teams-map/team-kado-map.webp",
            schools: [{
                name: "รร.ท่าวังผาพิทยาคม",
                link: "{main_url}/schools/thawangphapittayakhom-school-kado",
                map: "{main_url}/upload/2566/teams-map/team-kado-map.webp"
            }]
        }, {
            name: "ทีมอำเภอปัว",
            link: "{main_url}/schools/pao-school-mamuen-butter",
            map: "{main_url}/upload/2566/teams-map/team-มะมื่นบัตเตอร์-map.webp",
            schools: [{
                name: "รร.ปัว",
                link: "{main_url}/schools/pao-school-mamuen-butter",
                map: "{main_url}/upload/2566/teams-map/team-มะมื่นบัตเตอร์-map.webp"
            }]
        }, {
            name: "ทีมอำเภอเมือง",
            link: "{main_url}/schools/srisawatwittayakarn-school-lanala",
            map: "{main_url}/upload/2566/teams-map/team-nalana-map.webp",
            schools: [{
                name: "รร.ศรีสวัสดิ์วิทยาคาร",
                link: "{main_url}/schools/srisawatwittayakarn-school-lanala",
                map: "{main_url}/upload/2566/teams-map/team-nalana-map.webp"
            }]
        }, {
            name: "ทีมอำเภอเวียงสา",
            link: "#",
            map: "{main_url}/upload/2566/teams-map/team-หลามรวย-TenBites-map.webp",
            schools: [{
                name: "รร.สา",
                link: "{main_url}/schools/sa-school-laam-ruay",
                map: "{main_url}/upload/2566/teams-map/team-หลามรวย-map.webp"
            }, {
                name: "รร.ราชประชานุเคราะห์ 56",
                link: "{main_url}/schools/rajaprajanugroh56-school-cookie-ten-bites",
                map: "{main_url}/upload/2566/teams-map/team-tenBites-map.webp"
            }]
        }, {
            name: "ทีมอำเภอนาหมื่น",
            link: "{main_url}/schools/munglee-school-lina",
            map: "{main_url}/upload/2566/teams-map/team-lina-map.webp",
            schools: [{
                name: "รร.เมืองลีประชาสามัคคี",
                link: "{main_url}/schools/munglee-school-lina",
                map: "{main_url}/upload/2566/teams-map/team-lina-map.webp"
            }]
        }]
    };


    // ฟังก์ชันเริ่มต้นเมื่อโหลดหน้าเว็บ
    document.addEventListener('DOMContentLoaded', function() {
        loadYears(); // โหลดปีที่ใช้งานได้
    });

    // โหลดปีที่มีการใช้งาน
    function loadYears() {
        const yearDropdownList = document.getElementById('yearDropdownList');
        const years = ['2567', '2566']; // ปีที่ใช้งานได้

        years.forEach(year => {
            const option = document.createElement('a');
            option.href = "#";
            option.className = "drp_province_list w-dropdown-link";
            option.textContent = 'รุ่นปี ' + year;
            option.onclick = () => {
                chooseYear(year); // เรียกใช้ฟังก์ชันเลือกปี
                closeDropdown('yearDropdownList'); // หุบ dropdown list
            };
            yearDropdownList.appendChild(option);
        });
    }




    // เมื่อเลือกปี จะทำการโหลดข้อมูลอำเภอ และซ่อน Dropdown ปี
    function chooseYear(year) {
        currentYear = year;
        document.getElementById("drp_camp_text_model").textContent = 'รุ่นปี ' + year; // แสดงปีที่เลือก
        document.getElementById("pppy-map").src = year === '2566' ? 'upload/2566/map-nan2.webp' : 'upload/2567/map-nan3.webp';
        updateDistricts(year); // โหลดข้อมูลอำเภอ
    }

    // ฟังก์ชันเพื่อปิด dropdown list
    function closeDropdown(dropdownId) {
        const dropdown = document.getElementById(dropdownId);
        dropdown.classList.remove('w--open');
    }
    // อัพเดทข้อมูลอำเภอในปีที่เลือก
    function updateDistricts(year) {
        const districtList = document.getElementById("listProvince");
        districtList.innerHTML = ''; // ล้างข้อมูลเก่า
        const SchoolList = document.getElementById("listSchool");
        SchoolList.innerHTML = ''; // ล้างข้อมูลเก่า
        document.getElementById('districtDropdown').style.display = 'block'; // แสดง Dropdown ของอำเภอ
        document.getElementById('schoolDropdown').style.display = 'block';
        districtData[year].forEach(district => {
            const option = document.createElement('a');
            option.href = "#";
            option.className = "drp_province_list w-dropdown-link";
            option.textContent = district.name;
            option.onmouseover = () => previewMap(district.map); // แสดงแผนที่ทีมอำเภอเมื่อเมาส์ผ่าน

            option.onclick = () => {
                chooseDistrict(district); // เลือกทีมอำเภอ
                closeDropdown('listProvince'); // หุบ dropdown list
            };

            districtList.appendChild(option);
        });
    }

    // ฟังก์ชันแสดงแผนที่เมื่อเมาส์ผ่าน
    function previewMap(mapUrl) {
        document.getElementById("pppy-map").src = mapUrl; // เปลี่ยนรูปแผนที่
    }

    // เมื่อเลือกอำเภอ จะเปลี่ยนแผนที่และโหลดข้อมูลโรงเรียน
    function chooseDistrict(district) {
        const mapImage = document.getElementById("pppy-map");
        mapImage.src = district.map; // เปลี่ยนแผนที่ตามอำเภอที่เลือก
        document.getElementById("drp_camp_text_province").textContent = district.name;

        updateSchools(district.schools); // โหลดข้อมูลโรงเรียนในอำเภอ

    }

    // อัพเดทข้อมูลโรงเรียนในอำเภอที่เลือก
    function updateSchools(schools) {

        const schoolList = document.getElementById("listSchool");
        schoolList.innerHTML = ''; // ล้างข้อมูลเก่า
        schools.forEach(school => {
            const option = document.createElement('a');
            option.href = school.link;
            option.className = "drp_province_list w-dropdown-link";
            option.textContent = school.name;
            option.onmouseover = () => previewMap(school.map); // เปลี่ยนแผนที่เมื่อเมาส์ผ่านโรงเรียน
            option.onclick = () => selectSchool(school.link, school.name); // ไปยังหน้าโรงเรียนเมื่อคลิก
            schoolList.appendChild(option);
        });
        document.getElementById("schoolDropdown").style.display = 'block'; // แสดง Dropdown ของโรงเรียน
    }
    ห
    // ฟังก์ชันเลือกโรงเรียนแล้วไปยังหน้าเว็บโรงเรียน
    function selectSchool(link, name) {
        document.getElementById("drp_camp_text_school").textContent = name;
        //window.location.href = link; // เปลี่ยนหน้าเว็บไปยังลิงก์โรงเรียน
    }

    // ฟังก์ชันเพื่อหุบ dropdown และซ่อน dropdown
    function hideDropdown(dropdownId) {
        const dropdown = document.getElementById(dropdownId);
        dropdown.style.display = 'none'; // ซ่อน dropdown
    }



    
</script>
<style>

/* Banner Slide */

.banner_slider {
    background-color: #e9e0e0;
    margin-bottom: 100px;
    
}

.banner_slider .slide_visual {
    width: 100vw;
    display: block;
}

/* Slide Structure */
.banner_slider .w-slider,
.banner_slider .w-slider-mask,
.banner_slider .slide {
    width: 100vw; /* Full width */
}

.banner_slider .w-slider {
    position: relative;
    padding-top: 46.875%; /* Maintain aspect ratio */
}

.banner_slider .w-slider-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Navigator Dots */
.slide-nav {
    display: block;
    justify-content: center; /* Center the dots */
    align-items: center;
    position: absolute;
    margin-bottom: 100px; /* Adjust position */
    
    left: 50%;
    transform: translateX(-50%);
    gap: 15px; /* Space between dots */
}

.w-slider-dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.w-slider-dot.w-active {
    background-color: #717171;
}

/* Desktop Screens */
@media (min-width: 1080px) {
    .banner_slider img {
        width: 100%;
        height: auto;
    }
}

/* iPad Screens */
@media (min-width: 768px) and (max-width: 1079px) {
    .banner_slider img {
        width: 100%;
        height: auto;
    }
}

/* Mobile Screens */
@media (max-width: 767px) {
    .banner_slider img {
        width: 100vw;
        height: auto;
    }
}
    
    .w-dropdown {
        position: static;
    }
    
    .w-dropdown-list {
        min-width: auto;
    }
    
    .drp_campyep.w--open,
    .drp_campschool.w--open,
    .drp_camppartner.w--open {
        margin-bottom: 0;
        position: absolute;
        min-width: 90%;
        z-index: 999;
    }
    
    .btn_province {
        position: absolute;
        bottom: 25%;
        right: 5%;
        color: #ffffff;
        background-color: #837670;
        padding: 20px 20px;
        font-size: 30px;
    }
    
    .pppy_map_section {
        display: block;
    }
    
    .pppy_slide2,
    .pppy_slide3 {
        text-align: center;
    }
    
    .pppy_map {
        margin: -50px 0px -100px 0px;
        padding: 0px 0px 0px 0px;
        display: block;
        height: 100hv;
    }
    
    @media screen and (min-width: 375px) {


        .btn_province {
            right: 10%;
        }
        .pppy_map {
            margin: 10px 0px 00px 0px;
            padding: 0px 0px 0px 0px;
            display: block;
            height: 100%;
        }
    }
</style>