<section class="keyscool"><img src="../images/2567/banners/67team_banner_4.png" loading="lazy" width="960" sizes="100vw" alt="" srcset="../images/2567/banners/67team_banner_4-p-500.png 500w, ../images/2567/banners/_banner_4-p-800.png 800w, ../images/2567/banners/67team_banner_4-p-1080.png 1080w, ../images/2567/banners/_banner_4-p-1600.png 1600w, ../images/2567/banners/67team_banner_4.png 1920w"
        class="keyschoolimage"></section>



<section class="schoolteams5">
    <div class="school-container5">

        <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ ปี 2567</h2>
        <p class="school-keytext">ทีมอำเภอบ่อเกลือ</p>
        <div class="school-headertext" style="color: #837670;">รร. บ่อเกลือ</div>
        <div class="schoolstudentgrid5">


            <!-- บ่อเกลือ -->
            <div class="schoolstudentblock5">
                <img src="../images/2567/students/04-bo-kluea/ธมนพรรณ.png" loading="lazy" alt="น.ส. ธมนพรรณ ขันหลวง" class="school-student">
                <div class="schoolstudent-name5">น.ส. ธมนพรรณ ขันหลวง</div>
                <div class="schoolname-subtext-student5">รร. บ่อเกลือ</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/2567/students/04-bo-kluea/ธมนวรรณ.png" loading="lazy" alt="น.ส. ธมนวรรณ ขันหลวง" class="school-student">
                <div class="schoolstudent-name5">น.ส. ธมนวรรณ ขันหลวง</div>
                <div class="schoolname-subtext-student5">รร. บ่อเกลือ</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/2567/students/04-bo-kluea/กัญญาพัชร.png" loading="lazy" alt="น.ส. กัญญาพัชร ปันอิน" class="school-student">
                <div class="schoolstudent-name5">น.ส. กัญญาพัชร ปันอิน</div>
                <div class="schoolname-subtext-student5">รร. บ่อเกลือ</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/2567/students/04-bo-kluea/เมธินทร์.png" loading="lazy" alt="นาย เมธินทร์ เนตรทิพย์" class="school-student">
                <div class="schoolstudent-name5">นาย เมธินทร์ เนตรทิพย์</div>
                <div class="schoolname-subtext-student5">รร. บ่อเกลือ</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/2567/students/04-bo-kluea/บุญริสา.png" loading="lazy" alt="น.ส. บุญริสา อุปจักร์" class="school-student">
                <div class="schoolstudent-name5">น.ส. บุญริสา อุปจักร์</div>
                <div class="schoolname-subtext-student5">รร. บ่อเกลือ</div>
            </div>





        </div>
    </div>
</section>
<section class="schoolphotovdos" style="background-color: #efecea;">
    <div class="container-index_vdo ">

        <div class="w-layout-blockcontainer container-6 w-container">
            <a href="#" class="nag-button w-button active">ทั้งหมด</a>
            <a href="#" class="nag-button w-button">แกลลอรี</a>
            <a href="#" class="nag-button w-button">วิดีโอแกลลอรี</a>
        </div>
        <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="w-slider-mask">
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3"><img src="../images/2567/students/04-bo-kluea/01บ่อเกลือ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/04-bo-kluea/01บ่อเกลือ-p-500.png 500w, ../images/2567/students/04-bo-kluea/01บ่อเกลือ-p-800.png 800w, ../images/2567/students/04-bo-kluea/01บ่อเกลือ.png 1064w"
                            alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                    <div class="team-block-3"><img src="../images/2567/students/04-bo-kluea/02บ่อเกลือ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/04-bo-kluea/02บ่อเกลือ-p-500.png 500w, ../images/2567/students/04-bo-kluea/02บ่อเกลือ-p-800.png 800w, ../images/2567/students/04-bo-kluea/02บ่อเกลือ.png 1064w"
                            alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                </div>
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3">
                        <img src="../images/2567/students/04-bo-kluea/03บ่อเกลือ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/04-bo-kluea/03บ่อเกลือ-p-500.png 500w, ../images/2567/students/04-bo-kluea/03บ่อเกลือ-p-800.png 800w, ../images/2567/students/04-bo-kluea/03บ่อเกลือ.png 1064w"
                            alt="" class="schoolgallery">
                        <img src="../images/2567/students/04-bo-kluea/04บ่อเกลือ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/04-bo-kluea/04บ่อเกลือ-p-500.png 500w, ../images/04บ่อเกลือ-p-800.png 800w, ../images/2567/students/04-bo-kluea/04บ่อเกลือ.png 1064w"
                            alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                </div>
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3">
                        <img src="../images/2567/students/04-bo-kluea/05บ่อเกลือ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/04-bo-kluea/05บ่อเกลือ-p-500.png 500w, ../images/2567/students/04-bo-kluea/05บ่อเกลือ-p-800.png 800w, ../images/2567/students/04-bo-kluea/05บ่อเกลือ.png 1064w"
                            alt="" class="schoolgallery">
                        <img src="../images/2567/students/04-bo-kluea/06บ่อเกลือ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2567/students/04-bo-kluea/06บ่อเกลือ-p-500.png 500w, ../images/2567/students/06บ่อเกลือ-p-800.png 800w, ../images/2567/students/04-bo-kluea/05บ่อเกลือ.png 1064w"
                            alt="" class="schoolgallery"></div>
                </div>
            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num"></div>
        </div>
    </div>
</section>