<section class="keyschool">
    <img src="../images/School_banner_5.png" loading="lazy" width="960" sizes="100vw" alt="" srcset="../images/School_banner_5-p-500.png 500w, ../images/School_banner_5-p-800.png 800w, ../images/School_banner_5-p-1080.png 1080w, ../images/School_banner_5-p-1600.png 1600w, ../images/School_banner_5.png 1920w"
        class="keyschoolimage">
</section>



<section class="schoolteams5">
    <div class="school-container5">
        <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ รุ่นปี 2566</h2>
        <p class="school-keytext">โรงเรียนศรีสวัสดิ์วิทยาคาร</p>
        <div class="schoolstudentgrid5">
            <div class="schoolstudentblock5"><img src="../images/2566/students/all/ปิยภรณ์.png" loading="lazy" alt="" class="school-student5">
                <div class="schoolstudent-name5">น.ส. ปิยภรณ์ บัวทอง</div>
                <div class="schoolname-subtext-student5">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div class="schoolstudentblock5"><img src="../images/2566/students/all/กฤติยาณี.png" loading="lazy" alt="" class="school-student5">
                <div class="schoolstudent-name5">น.ส. กฤติยาณี เทพจันตา</div>
                <div class="schoolname-subtext-student5">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div class="schoolstudentblock5"><img src="../images/2566/students/all/จิรภิญญา.png" loading="lazy" alt="" class="school-student5">
                <div class="schoolstudent-name5">น.ส. จิรภิญญา ลัมยศ</div>
                <div class="schoolname-subtext-student5">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div class="schoolstudentblock5"><img src="../images/2566/students/all/พรปวีณ์.png" loading="lazy" alt="" class="school-student5">
                <div class="schoolstudent-name5">น.ส. พรปวีณ์ ฝีปากเพราะ</div>
                <div class="schoolname-subtext-student5">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div class="schoolstudentblock5"><img src="../images/2566/students/all/วชิราภรณ์.png" loading="lazy" alt="" class="school-student5">
                <div class="schoolstudent-name5">น.ส. วชิราภรณ์ สมวงค์</div>
                <div class="schoolname-subtext-student5">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
        </div>
    </div>
</section>



<section class="schoolphotovdos" style="background-color: #efecea;">
    <div class="container-index_vdo ">

        <div class="w-layout-blockcontainer container-6 w-container ">
            <a href="# " class="nag-button w-button active ">ทั้งหมด</a>
            <a href="# " class="nag-button w-button ">แกลลอรี</a>
            <a href="# " class="nag-button w-button ">วิดีโอแกลลอรี</a>
        </div>

        <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="w-slider-mask">
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3"><img src="../images/2566/gallery/01_ศรีสวัสดิ์.webp" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2566/gallery/01_ศรีสวัสดิ์-p-500.webp 500w, ../images/2566/gallery/01_ศรีสวัสดิ์-p-800.webp 800w, ../images/2566/gallery/01_ศรีสวัสดิ์.webp 1064w"
                            alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                    <div class="team-block-3"><img src="../images/2566/gallery/04_ศรีสวัสดิ์webp" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2566/gallery/04_ศรีสวัสดิ์-p-500.webp 500w, ../images/2566/gallery/04_ศรีสวัสดิ์-p-800.webp 800w, ../images/2566/gallery/04_ศรีสวัสดิ์.webp 1064w"
                            alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                </div>
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3"><img src="../images/2566/gallery/02_ศรีสวัสดิ์.webp" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2566/gallery/02_ศรีสวัสดิ์-p-500.webp 500w, ../images/2566/gallery/02_ศรีสวัสดิ์-p-800.webp 800w, ../images/2566/gallery/02_ศรีสวัสดิ์.webp 1064w"
                            alt="" class="schoolgallery"><img src="../images/2566/gallery/05_ศรีสวัสดิ์.webp" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2566/gallery/05_ศรีสวัสดิ์-p-500.webp 500w, ../images/2566/gallery/05_ศรีสวัสดิ์-p-800.webp 800w, ../images/2566/gallery/05_ศรีสวัสดิ์.webp 1064w"
                            alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                </div>
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3"><img src="../images/2566/gallery/03_ศรีสวัสดิ์.webp" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2566/gallery/03_ศรีสวัสดิ์-p-500.webp 500w, ../images/2566/gallery/03_ศรีสวัสดิ์-p-800.webp 800w, ../images/2566/gallery/03_ศรีสวัสดิ์.webp 1064w"
                            alt="" class="schoolgallery"><img src="../images/2566/gallery/06_ศรีสวัสดิ์.webp" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2566/gallery/06_ศรีสวัสดิ์-p-500.webp 500w, ../images/2566/gallery/s06_ศรีสวัสดิ์-p-800.webp 800w, ../images/2566/gallery/06_ศรีสวัสดิ์.webp 1064w"
                            alt="" class="schoolgallery"></div>
                </div>


            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num"></div>
        </div>


    </div>
</section>


<!-- Coding -->