<section class="keyscool"><img src="../images/School_banner_2.png" loading="lazy" sizes="(max-width: 1920px) 100vw, 1920px" srcset="../images/School_banner_2-p-500.png 500w, ../images/School_banner_2-p-800.png 800w, ../images/School_banner_2-p-1080.png 1080w, ../images/School_banner_2-p-1600.png 1600w, ../images/School_banner_2.png 1920w"
        alt="โรงเรียนพระธาตุพิทยาคม" class="keyschoolimage"></section>

<section class="schoolteams5">
    <div class="school-container5">

        <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ รุ่นปี 2566</h2>
        <p class="school-keytext">โรงเรียนพระธาตุพิทยาคม</p>
        <div class="school-headertext" style="color: #837670;"></div>
        <div class="schoolstudentgrid5">


            <div class="schoolstudentblock5">
                <img src="../images/ดำรงศักดิ์.png" loading="lazy" alt="นายดำรงศักดิ์ ท้าวบุญญาภินิกุล" class="school-student">
                <div class="schoolstudent-name5" style="font-size: 1.0rem;">นายดำรงศักดิ์ ท้าวบุญญาภินิกุล</div>
                <div class="schoolname-subtext-student5">รร.พระธาตุพิทยาคม</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/กานดา.png" loading="lazy" alt="น.ส. กานดา ยอดออน" class="school-student">
                <div class="schoolstudent-name5">น.ส. กานดา ยอดออน</div>
                <div class="schoolname-subtext-student5">รร.พระธาตุพิทยาคม</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/นภัสสร.png" loading="lazy" alt="น.ส. นภัสสร พูนเปี่ยม" class="school-student">
                <div class="schoolstudent-name5">น.ส. นภัสสร พูนเปี่ยม</div>
                <div class="schoolname-subtext-student5">รร.พระธาตุพิทยาคม</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/ปกรณ์.png" loading="lazy" alt="นายปกรณ์ ทองประเสริฐ" class="school-student">
                <div class="schoolstudent-name5">นายปกรณ์ ทองประเสริฐ</div>
                <div class="schoolname-subtext-student5">รร.พระธาตุพิทยาคม</div>
            </div>

            <div class="schoolstudentblock5">
                <img src="../images/ศุภนุช.png" loading="lazy" alt="น.ส. ศุภนุช สุต๋า" class="school-student">
                <div class="schoolstudent-name5">น.ส. ศุภนุช สุต๋า</div>
                <div class="schoolname-subtext-student5">รร.พระธาตุพิทยาคม</div>
            </div>





        </div>
    </div>
</section>

<section class="schoolphotovdos" style="background-color: #efecea;">
    <div class="container-index_vdo ">

        <div class="w-layout-blockcontainer container-6 w-container">
            <a href="#" class="nag-button w-button active">ทั้งหมด</a>
            <a href="#" class="nag-button w-button">แกลลอรี</a>
            <a href="#" class="nag-button w-button">วิดีโอแกลลอรี</a>
        </div>

        <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="w-slider-mask">
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3"><img src="../images/1_พระธาตุ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/1_พระธาตุ-p-500.png 500w, ../images/1_พระธาตุ-p-800.png 800w, ../images/1_พระธาตุ.png 1064w"
                            alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                    <div class="team-block-3"><img src="../images/4_พระธาตุ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/4_พระธาตุ-p-500.png 500w, ../images/4_พระธาตุ-p-800.png 800w, ../images/4_พระธาตุ.png 1064w"
                            alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                </div>
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3"><img src="../images/2_พระธาตุ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2_พระธาตุ-p-500.png 500w, ../images/2_พระธาตุ-p-800.png 800w, ../images/2_พระธาตุ.png 1064w"
                            alt="" class="schoolgallery"><img src="../images/5_พระธาตุ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/5_พระธาตุ-p-500.png 500w, ../images/5_พระธาตุ-p-800.png 800w, ../images/5_พระธาตุ.png 1064w"
                            alt="" class="schoolgallery">
                        <div class="team-block-info-3"></div>
                    </div>
                </div>
                <div class="team-slide-wrapper-3 w-slide">
                    <div class="team-block-3"><img src="../images/3_พระธาตุ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/3_พระธาตุ-p-500.png 500w, ../images/3_พระธาตุ-p-800.png 800w, ../images/3_พระธาตุ.png 1064w"
                            alt="" class="schoolgallery"><img src="../images/6_พระธาตุ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/6_พระธาตุ-p-500.png 500w, ../images/6_พระธาตุ-p-800.png 800w, ../images/6_พระธาตุ.png 1064w"
                            alt="" class="schoolgallery"></div>
                </div>
            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="team-slider-arrow-3 w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num"></div>
        </div>
    </div>
</section>