<section class="keypageall">
    <div class="keypage_block">
        <h1 class="keypagetext">ติดต่อเรา</h1>
    </div>
</section>


<section class="contactform">
    <div class="w-layout-blockcontainer formblock w-container">
        <h1 class="hltext-contactus">แบบฟอร์มติดต่อเรา</h1>
        <p class="text_praragraph16">
            หากต้องการติดต่อมูลนิธิเพาะพันธุ์ปัญญา สามารถกรอกข้อมูลตามด้านล่าง หรือส่งอีเมลมาที่ 
        <a href="mailto:info@pohpunpanyafoundation.org" class="link">info@pohpunpanyafoundation.org</a>
        </p>

        <!-- START BLOCK : SUCCESSFUL -->
        <div class="w-form block-success">
            <div class="alertbox">ส่งข้อมูลเรียบร้อยแล้ว</div>
        </div>
        <!-- END BLOCK : SUCCESSFUL -->

        <!-- START BLOCK : SERROR -->
        <div class="w-form block-error">
            <div class="alertbox">ส่งข้อมูลไม่ผ่านกรุณาตรวจสอบฟอร์มอีกครั้ง</div>
        </div>
        <!-- END BLOCK : SERROR -->

        <!-- START BLOCK : FERROR -->
        <div class="w-form block-error">
            <div class="alertbox">กรอกข้อมูลให้ครบถ้วน * </div>
        </div>
        <!-- END BLOCK : FERROR -->

        <!-- START BLOCK : ERROR -->
        <div class="w-form block-error">
            <div class="alertbox">Capcha ไม่ถูกต้อง </div>
        </div>
        <!-- END BLOCK : ERROR -->
        <div class="w-form">
            <form id="wf-form-ContactForm" name="wf-form-ContactForm" data-name="ContactForm" method="post" data-wf-page-id="64f669b5e8c623038488c920" data-wf-element-id="1bc85436-a44f-424b-a730-dee2d204d380" action="contactus">
                <input type="text" class="inputtextbox w-input" autofocus="true" maxlength="256" name="fname" data-name="Name" placeholder="ชื่อ*" id="name" required>
                <input type="text" class="inputtextbox w-input" maxlength="256" name="lname" data-name="Name 2" placeholder="นามสกุล" id="name-2">
                <input type="email" class="inputtextbox w-input" maxlength="256" name="email" data-name="email" placeholder="อีเมล*" id="email" required>
                <input type="tel" class="inputtextbox w-input" maxlength="256" name="phone" data-name="phone" placeholder="เบอร์โทรศัพท์" id="phone">
                <textarea id="detail" name="detail" maxlength="5000" data-name="detail" placeholder="รายละเอียด*" class="textareadetail w-input" required></textarea>


                <script src="https://www.google.com/recaptcha/api.js"></script>
                <script>
                    function onSubmit(token) {
                        document.getElementById("wf-form-ContactForm").submit();
                    }
                </script>
                <button class="g-recaptcha contactsubmitform w-button" data-sitekey="6Ld98KIoAAAAACqEVYTrl5uuFisykG3CykRA9bz8" data-callback='onSubmit' data-action='submit'>ส่งข้อมูล</button>
                <!-- <div class="w-form-formrecaptcha g-recaptcha g-recaptcha-error g-recaptcha-disabled g-recaptcha-invalid-key"></div> -->
                <!-- <input type="submit" value="ส่งข้อมูล" data-wait="Please wait..." class="contactsubmitform w-button"> -->


            </form>

        </div>
    </div>
</section>
<section>
    <div class="addressmap w-row">
        <div class="column-14 w-col w-col-7">
            <div class="formmapaddress w-embed w-iframe"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.9542901673085!2d100.54340677581932!3d13.781629096600723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29c1dce36a5f5%3A0xf0a46364fba8d63a!2sKasikorn%20Bank%20-%20Phahonyothin%20Head%20Office!5e0!3m2!1sen!2sth!4v1717608472925!5m2!1sen!2sth"
                    width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
        <div class="addressbblockform w-col w-col-5">
            <div class="textcontactaddress">
                <div class="footerblocklist"><img src="images/pinContact.png" loading="lazy" alt="" class="pinaddress">
                    <h4 class="formnameaddress">มูลนิธิเพาะพันธุ์ปัญญา</h4>
                </div>
                <div class="footerblocklist">
                    <div class="formaddress2">400/22 อาคารธนาคารกสิกรไทย <br>ชั้น 11 ถนนพหลโยธิน แขวงสามเสนใน <br>เขตพญาไท กรุงเทพมหานคร 10400</div>
                </div>
                <div class="footerblocklist"><img src="images/phonecontact.png" loading="lazy" alt="" class="image-5-copy">
                    <div class="formphone">02-4702658</div>
                </div>
                <div class="footerblocklist"><img src="images/emailContact.png" loading="lazy" alt="" class="formemail">
                    <div class="formemailaddress">info@pohpunpanyafoundation.org</div>
                </div>

            </div>
        </div>
    </div>
</section>
่
<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
<style>
    .w-form.block-success {
        width: 100%;
    }
    
    .block-success {
        text-align: center;
        height: 50px;
        background-color: #eaecf0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .block-success .alertbox {
        color: darkolivegreen;
        /* or any other color that suits your design */
    }
    
    .w-form.block-error {
        width: 100%;
    }
    
    .block-error {
        text-align: center;
        height: 50px;
        background-color: #027a48;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .block-error .alertbox {
        color: white;
        /* or any other color that suits your design */
    }
    
    .g-recaptcha.contactsubmitform.w-button {
        margin-left: 0;
        width: 25%;
        background-color: #027a48;
    }
    
    @media screen and (max-width: 1280px) {
        .g-recaptcha.contactsubmitform.w-button {
            margin-left: 0;
            width: 25%;
            background-color: #027a48;
        }
    }
    
    @media screen and (max-width: 478px) {
        .g-recaptcha.contactsubmitform.w-button {
            margin-left: 0;
            width: 50%;
            background-color: #027a48;
        }
    }
</style>